// Reset, body, variables, h1-hidden, container
// ==========================================

@import "../common-blocks/scss/general";


// Header
// ==========================================

@import "../common-blocks/scss/header";


// Map
// ==========================================

.map {
    min-height: calc(100vh - 110px - 200px);
    background-color: $bg-color;
}

.map__inner {
    position: relative;
    padding-top: 26px;
}

.map__title {
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 53px;
}

.map__world-map {
    width: 1422px;
    height: 912px;
    margin-bottom: 16px;
}

.map__animals {
    position: absolute;
    top: 0;
    left: 0;
}

.map__animals-card_eagles {
    position: absolute;
    top: 505px;
    left: 158px;
}

.map__animals-card_alligators {
    position: absolute;
    top: 575px;
    left: 313px;
}

.map__animals-card_gorillas {
    position: absolute;
    top: 675px;
    left: 675px;
}

.map__animals-card_pandas {
    position: absolute;
    top: 540px;
    left: 1020px;
}

.map__animals-card {
    position: relative;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -110px;
    left: -160px;

    transition: all 0.2s linear;
}

.tooltip__button {
    display: none;
}

.map__animals-tooltip {
    position: relative;
    width: 410px;
    height: 89px;
    background-color: #fff;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.map__animals-tooltip::after {
    content: "";
    position: absolute;
    top: 89px;
    left: 190px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 15px 0 15px;
    border-color: #fff transparent transparent transparent;
}

.map__animals-tooltip-info {
    padding: 24px 8px;
}

.map__animals-tooltip-text {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $black-color;
}

.map__animals-photo-bg {
    position: relative;
    width: 90px;
    height: 90px;
}

.map__map-pets-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 83px;
    fill: $white-color;
    filter: drop-shadow(0px 4px 10px $white-color);
    transition: all 0.4s linear;
}

.map__animals-photo {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 73px;
    height: 70px;
    mask-image: url(../../assets/images/pets-shape.svg);
    mask-size: 73px 70px;
}

.map__animals-photo_eagles {
    background: no-repeat center url(../../assets/images/pets-layer.png),
                no-repeat center / 174px auto url(../../assets/images/pets-eagles-min.jpg);
}

.map__animals-photo_alligators {
    background: no-repeat center url(../../assets/images/pets-layer.png),
                no-repeat left 0 bottom 0 / 129px auto url(../../assets/images/pets-alligators-min.jpg);
}

.map__animals-photo_gorillas {
    background: no-repeat center url(../../assets/images/pets-layer.png),
                no-repeat center / 120px auto url(../../assets/images/pets-gorillas-min.jpg);
}

.map__animals-photo_pandas {
    background: no-repeat center url(../../assets/images/pets-layer.png),
                no-repeat center / 106px auto url(../../assets/images/pets-panda-min.jpg);
}

.map__animals-card:hover {
    .map__map-pets-bg {
        transform: rotate(360deg);
    }

    .tooltip {
        visibility: visible;
        opacity: 1;
    }
}

.map__animals-card:active {
    .map__map-pets-bg {
        fill: #0A5D69;
    }
}

.map__buttons {
    display: flex;
    position: absolute;
    bottom: 25px;
    right: 25px;
    stroke: #fff;
    cursor: pointer;
}

.zoom-in,
.zoom-out {
    display: block;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.4);
    border: 1.5px solid #fff;
    border-radius: 50%;

    transition: all 0.2s linear;
}

.zoom-in:hover,
.zoom-out:hover {
    background-color: $bamboo-color;
}

.zoom-in {
    margin-right: 15px;
}

.zoom-in__elem,
.zoom-out__elem {
    padding: 5px;
    width: 22px;
    height: 22px;
}


// Footer
// ==========================================

@import "../common-blocks/scss/footer";



// Media
// ====================================================================================

//media queries for .container, header, footer are in the appropriate files

// media 1200px
// ==========================================

@media (max-width: 1200px) {

    .map__inner {
        padding-top: 40px;
    }

    .map__world-map {
        width: 1140px;
        height: 685px;
        margin-bottom: 60px;
    }

    .map__animals-card_eagles {
        top: 373px;
        left: 120px;
    }

    .map__animals-card_alligators {
        top: 440px;
        left: 253px;
    }

    .map__animals-card_gorillas {
        top: 535px;
        left: 550px;
    }

    .map__animals-card_pandas {
        top: 436px;
        left: 789px;
    }

    .map__buttons {
        right: 11px;
    }
}


// media 640px
// ==========================================

@media (max-width: 640px) {

    .map {
        margin-top: 78px;
    }

    .map__inner {
        padding-top: 30px;
    }

    .map__world-map {
        width: 559px;
        height: 397px;

        margin-bottom: 50px;
    }

    .map__title {
        font-size: 18px;
        line-height: 21px;

        // margin-bottom: 73px;
    }

    .map__animals-photo-bg {
        width: 60px;
        height: 62px;
    }

    .map__map-pets-bg {
        width: 60px;
        height: 62px;
    }

    .map__animals-photo {
        width: 52px;
        height: 50px;
        left: 4px;
        mask-size: 52px 50px;
    }

    .map__animals-photo_eagles {
        background: no-repeat center url(../../assets/images/pets-layer.png),
                    no-repeat left -50px bottom -12px / 130px auto url(../../assets/images/pets-eagles-min.jpg);
    }
    
    .map__animals-photo_alligators {
        background: no-repeat center url(../../assets/images/pets-layer.png),
                    no-repeat left 0 bottom 0 / 92px auto url(../../assets/images/pets-alligators-min.jpg);
    }
    
    .map__animals-photo_gorillas {
        background: no-repeat center url(../../assets/images/pets-layer.png),
                    no-repeat center / 86px auto url(../../assets/images/pets-gorillas-min.jpg);
    }
    
    .map__animals-photo_pandas {
        background: no-repeat center url(../../assets/images/pets-layer.png),
                    no-repeat center / 76px auto url(../../assets/images/pets-panda-min.jpg);
    }

    .map__animals-card_eagles {
        position: absolute;
        top: 268px;
        left: 40px;
    }
    
    .map__animals-card_alligators {
        position: absolute;
        top: 305px;
        left: 120px;
    }
    
    .map__animals-card_gorillas {
        position: absolute;
        top: 340px;
        left: 270px;
    }
    
    .map__animals-card_pandas {
        position: absolute;
        top: 280px;
        left: 395px;
    }

    .map__animals-tooltip {
        width: 194px;
        height: 122px;
    }

    .map__animals-tooltip::after {
        top: 121px;
        left: 82px;
    }

    .tooltip {
        top: -140px;
        left: -70px;
    }

    .map__animals-tooltip-info {
        padding: 20px 12px;
        text-align: center;
    }

    .map__animals-tooltip-text {
        font-size: 10px;
        line-height: 200%;
    }

    .map__animals-tooltip-text:last-child {
        margin-bottom: 15px;
    }

    .tooltip__button {
        display: none;
        position: relative;
        top: -135px;
        left: -50px;
        width: 101px;

        font-family: $font-roboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $button-lined;
        border: 1.5px solid $button-lined;
        border-radius: 100px;
        
        padding: 8px 25px;

        cursor: pointer;

        transition: all 0.2s linear;
    }

    .tooltip__button-eagles {
        left: -30px;
    }

    .tooltip__button:hover {
        background-color: $button-lined;
        color: #fff;
    }

    .map__animals-card_eagles {
        .tooltip {
            left: -50px;
        }
    }

    .map__animals-card:hover ~ .tooltip__button {
        display: block;
    }
}


// media 320px
// ==========================================

@media (max-width: 320px) {

    .map {
        margin-top: 50px;
        width: 100%;
        overflow: hidden;
    }

    .map__inner {
        padding-top: 60px;
        padding-left: 10px;
    }

    .map__world-map {
        height: 373px;
    }

    .map__title {
        display: none;
    }

    .map__animals-photo-bg {
        width: 71px;
        height: 71px;
    }

    .map__map-pets-bg {
        height: 71px;
        width: 71px;
    }

    .map__animals-photo {
        width: 62px;
        height: 58px;
        left: 5px;
        mask-size: 62px 58px;
    }

    .map__animals-photo_pandas {
        background: no-repeat center url(../../assets/images/pets-layer.png),
                    no-repeat center / 90px auto url(../../assets/images/pets-panda-min.jpg);
    }

    .map__animals-card_eagles {
        top: 215px;
    }
    
    .map__animals-card_alligators {
        top: 230px;
    }
    
    .map__animals-card_gorillas {
        top: 280px;
    }
    
    .map__animals-card_pandas {
        top: 225px;
    }

    .tooltip {
        left: -60px;
    }
}