body {
  margin: 0;
  background-color: #f6f9fa;
}

body._lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

.h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2A8086;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.header {
  background-color: #2A8086;
  width: 100%;
  height: 110px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.logo {
  width: 108px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0D444D;
  margin-right: 52px;
  cursor: pointer;
}

.logo__text_upper {
  text-transform: uppercase;
}

.logo__elem {
  width: 73px;
  height: 25px;
  fill: #C5E1E5;
}

.navbar-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:last-child {
  display: none;
}

.nav__link {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #C5E1E5;
  text-transform: uppercase;
  margin-right: 52px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link_active {
  border-bottom: 2px solid #C5E1E5;
  pointer-events: none;
}

.navbar-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right__item {
  margin-right: 24px;
}

.navbar-right__item:first-child {
  margin-right: 40px;
}

.navbar-right__item:last-child {
  margin-right: 0;
}

.user-icon {
  fill: #fff;
  width: 56px;
  height: 56px;
}

.navbar-right__item:nth-child(2) {
  display: none;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  margin-right: 5px;
  background-color: transparent;
  border-bottom: 2px solid #C5E1E5;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search__input::-webkit-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input:-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__icon {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.search__icon:hover {
  opacity: 0.5;
}

.search__icon:hover + .search__input {
  visibility: visible;
  opacity: 1;
}

.search__icon-elem {
  width: 32px;
  height: 32px;
  stroke: #C5E1E5;
  fill: none;
}

.navbar-right__button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navbar-right__button:hover {
  opacity: 0.5;
}

.navbar-right__button_sign-up {
  width: 97px;
  height: 52px;
  border: 1px solid #C5E1E5;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.burger-menu {
  display: none;
}

@media (max-width: 1200px) {
  .nav__link {
    margin-right: 42px;
  }
  .navbar-right__item {
    display: none;
  }
  .navbar-right__item:nth-child(1) {
    display: block;
    margin-right: 30px;
  }
  .navbar-right__item:nth-child(2) {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .header {
    height: 78px;
    position: fixed;
    top: 0;
    z-index: 15;
  }
  .header__inner {
    padding-top: 20px;
  }
  .logo {
    width: 49px;
    font-size: 16px;
    line-height: 19px;
  }
  .logo__elem {
    width: 32px;
    height: 11px;
  }
  .nav {
    position: fixed;
    top: 78px;
    right: -100%;
    width: 100%;
    z-index: 13;
    text-align: center;
    background-color: #2A8086;
    border-top: 1px solid rgba(18, 87, 91, 0.25);
    padding-top: 34px;
    padding-bottom: 38px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .nav._active {
    right: 0;
  }
  .nav__main-navbar {
    display: block;
  }
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    display: block;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    margin-right: 0;
    color: #F3F7F8;
  }
  .nav__link_active {
    border: none;
  }
  .navbar-right {
    display: none;
  }
  .burger-menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .burger-menu__icon,
  .burger-menu::before,
  .burger-menu::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 23px;
    height: 2px;
    -webkit-border-radius: 25%;
            border-radius: 25%;
    background-color: #C5E1E5;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 8px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu::after {
    bottom: 9px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu__icon {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu._active .burger-menu__icon {
    opacity: 0;
  }
  .burger-menu._active::before {
    -webkit-transform: rotate(-45deg) translate(-50%);
        -ms-transform: rotate(-45deg) translate(-50%);
            transform: rotate(-45deg) translate(-50%);
  }
  .burger-menu._active::after {
    -webkit-transform: rotate(45deg) translate(-50%);
        -ms-transform: rotate(45deg) translate(-50%);
            transform: rotate(45deg) translate(-50%);
  }
}

@media (max-width: 320px) {
  .header {
    height: 50px;
  }
  .header__inner {
    padding-top: 7px;
  }
  .nav {
    top: 49px;
  }
}

.map {
  min-height: -webkit-calc(100vh - 110px - 200px);
  min-height: calc(100vh - 110px - 200px);
  background-color: #2A8086;
}

.map__inner {
  position: relative;
  padding-top: 26px;
}

.map__title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #C5E1E5;
  margin-bottom: 53px;
}

.map__world-map {
  width: 1422px;
  height: 912px;
  margin-bottom: 16px;
}

.map__animals {
  position: absolute;
  top: 0;
  left: 0;
}

.map__animals-card_eagles {
  position: absolute;
  top: 505px;
  left: 158px;
}

.map__animals-card_alligators {
  position: absolute;
  top: 575px;
  left: 313px;
}

.map__animals-card_gorillas {
  position: absolute;
  top: 675px;
  left: 675px;
}

.map__animals-card_pandas {
  position: absolute;
  top: 540px;
  left: 1020px;
}

.map__animals-card {
  position: relative;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -110px;
  left: -160px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tooltip__button {
  display: none;
}

.map__animals-tooltip {
  position: relative;
  width: 410px;
  height: 89px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.map__animals-tooltip::after {
  content: "";
  position: absolute;
  top: 89px;
  left: 190px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 15px 0 15px;
  border-color: #fff transparent transparent transparent;
}

.map__animals-tooltip-info {
  padding: 24px 8px;
}

.map__animals-tooltip-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #0D444D;
}

.map__animals-photo-bg {
  position: relative;
  width: 90px;
  height: 90px;
}

.map__map-pets-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 83px;
  fill: #C5E1E5;
  -webkit-filter: drop-shadow(0px 4px 10px #C5E1E5);
          filter: drop-shadow(0px 4px 10px #C5E1E5);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.map__animals-photo {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 73px;
  height: 70px;
  -webkit-mask-image: url(../../assets/images/pets-shape.svg);
          mask-image: url(../../assets/images/pets-shape.svg);
  -webkit-mask-size: 73px 70px;
          mask-size: 73px 70px;
}

.map__animals-photo_eagles {
  background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat center/174px auto url(../../assets/images/pets-eagles-min.jpg);
}

.map__animals-photo_alligators {
  background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat left 0 bottom 0/129px auto url(../../assets/images/pets-alligators-min.jpg);
}

.map__animals-photo_gorillas {
  background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat center/120px auto url(../../assets/images/pets-gorillas-min.jpg);
}

.map__animals-photo_pandas {
  background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat center/106px auto url(../../assets/images/pets-panda-min.jpg);
}

.map__animals-card:hover .map__map-pets-bg {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.map__animals-card:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.map__animals-card:active .map__map-pets-bg {
  fill: #0A5D69;
}

.map__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 25px;
  stroke: #fff;
  cursor: pointer;
}

.zoom-in,
.zoom-out {
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.4);
  border: 1.5px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.zoom-in:hover,
.zoom-out:hover {
  background-color: #216E7A;
}

.zoom-in {
  margin-right: 15px;
}

.zoom-in__elem,
.zoom-out__elem {
  padding: 5px;
  width: 22px;
  height: 22px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #196469;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 58px;
}

.copyright__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.copyright__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .footer {
    height: 120px;
  }
  .footer__inner {
    padding-top: 17px;
  }
}

@media (max-width: 640px) {
  .footer {
    height: 78px;
  }
  .footer__inner {
    padding-top: 22px;
  }
  .footer__inner .nav {
    display: none;
  }
  .copyright__text {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
}

@media (max-width: 1200px) {
  .map__inner {
    padding-top: 40px;
  }
  .map__world-map {
    width: 1140px;
    height: 685px;
    margin-bottom: 60px;
  }
  .map__animals-card_eagles {
    top: 373px;
    left: 120px;
  }
  .map__animals-card_alligators {
    top: 440px;
    left: 253px;
  }
  .map__animals-card_gorillas {
    top: 535px;
    left: 550px;
  }
  .map__animals-card_pandas {
    top: 436px;
    left: 789px;
  }
  .map__buttons {
    right: 11px;
  }
}

@media (max-width: 640px) {
  .map {
    margin-top: 78px;
  }
  .map__inner {
    padding-top: 30px;
  }
  .map__world-map {
    width: 559px;
    height: 397px;
    margin-bottom: 50px;
  }
  .map__title {
    font-size: 18px;
    line-height: 21px;
  }
  .map__animals-photo-bg {
    width: 60px;
    height: 62px;
  }
  .map__map-pets-bg {
    width: 60px;
    height: 62px;
  }
  .map__animals-photo {
    width: 52px;
    height: 50px;
    left: 4px;
    -webkit-mask-size: 52px 50px;
            mask-size: 52px 50px;
  }
  .map__animals-photo_eagles {
    background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat left -50px bottom -12px/130px auto url(../../assets/images/pets-eagles-min.jpg);
  }
  .map__animals-photo_alligators {
    background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat left 0 bottom 0/92px auto url(../../assets/images/pets-alligators-min.jpg);
  }
  .map__animals-photo_gorillas {
    background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat center/86px auto url(../../assets/images/pets-gorillas-min.jpg);
  }
  .map__animals-photo_pandas {
    background: no-repeat center url(../../assets/images/pets-layer.png), no-repeat center/76px auto url(../../assets/images/pets-panda-min.jpg);
  }
  .map__animals-card_eagles {
    position: absolute;
    top: 268px;
    left: 40px;
  }
  .map__animals-card_alligators {
    position: absolute;
    top: 305px;
    left: 120px;
  }
  .map__animals-card_gorillas {
    position: absolute;
    top: 340px;
    left: 270px;
  }
  .map__animals-card_pandas {
    position: absolute;
    top: 280px;
    left: 395px;
  }
  .map__animals-tooltip {
    width: 194px;
    height: 122px;
  }
  .map__animals-tooltip::after {
    top: 121px;
    left: 82px;
  }
  .tooltip {
    top: -140px;
    left: -70px;
  }
  .map__animals-tooltip-info {
    padding: 20px 12px;
    text-align: center;
  }
  .map__animals-tooltip-text {
    font-size: 10px;
    line-height: 200%;
  }
  .map__animals-tooltip-text:last-child {
    margin-bottom: 15px;
  }
  .tooltip__button {
    display: none;
    position: relative;
    top: -135px;
    left: -50px;
    width: 101px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #19707D;
    border: 1.5px solid #19707D;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    padding: 8px 25px;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .tooltip__button-eagles {
    left: -30px;
  }
  .tooltip__button:hover {
    background-color: #19707D;
    color: #fff;
  }
  .map__animals-card_eagles .tooltip {
    left: -50px;
  }
  .map__animals-card:hover ~ .tooltip__button {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */