body {
  margin: 0;
  background-color: #f6f9fa;
}

body._lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

.h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2A8086;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.header {
  background-color: #2A8086;
  width: 100%;
  height: 110px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.logo {
  width: 108px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0D444D;
  margin-right: 52px;
  cursor: pointer;
}

.logo__text_upper {
  text-transform: uppercase;
}

.logo__elem {
  width: 73px;
  height: 25px;
  fill: #C5E1E5;
}

.navbar-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:last-child {
  display: none;
}

.nav__link {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #C5E1E5;
  text-transform: uppercase;
  margin-right: 52px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link_active {
  border-bottom: 2px solid #C5E1E5;
  pointer-events: none;
}

.navbar-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right__item {
  margin-right: 24px;
}

.navbar-right__item:first-child {
  margin-right: 40px;
}

.navbar-right__item:last-child {
  margin-right: 0;
}

.user-icon {
  fill: #fff;
  width: 56px;
  height: 56px;
}

.navbar-right__item:nth-child(2) {
  display: none;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  margin-right: 5px;
  background-color: transparent;
  border-bottom: 2px solid #C5E1E5;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search__input::-webkit-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input:-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__icon {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.search__icon:hover {
  opacity: 0.5;
}

.search__icon:hover + .search__input {
  visibility: visible;
  opacity: 1;
}

.search__icon-elem {
  width: 32px;
  height: 32px;
  stroke: #C5E1E5;
  fill: none;
}

.navbar-right__button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navbar-right__button:hover {
  opacity: 0.5;
}

.navbar-right__button_sign-up {
  width: 97px;
  height: 52px;
  border: 1px solid #C5E1E5;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.burger-menu {
  display: none;
}

@media (max-width: 1200px) {
  .nav__link {
    margin-right: 42px;
  }
  .navbar-right__item {
    display: none;
  }
  .navbar-right__item:nth-child(1) {
    display: block;
    margin-right: 30px;
  }
  .navbar-right__item:nth-child(2) {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .header {
    height: 78px;
    position: fixed;
    top: 0;
    z-index: 15;
  }
  .header__inner {
    padding-top: 20px;
  }
  .logo {
    width: 49px;
    font-size: 16px;
    line-height: 19px;
  }
  .logo__elem {
    width: 32px;
    height: 11px;
  }
  .nav {
    position: fixed;
    top: 78px;
    right: -100%;
    width: 100%;
    z-index: 13;
    text-align: center;
    background-color: #2A8086;
    border-top: 1px solid rgba(18, 87, 91, 0.25);
    padding-top: 34px;
    padding-bottom: 38px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .nav._active {
    right: 0;
  }
  .nav__main-navbar {
    display: block;
  }
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    display: block;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    margin-right: 0;
    color: #F3F7F8;
  }
  .nav__link_active {
    border: none;
  }
  .navbar-right {
    display: none;
  }
  .burger-menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .burger-menu__icon,
  .burger-menu::before,
  .burger-menu::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 23px;
    height: 2px;
    -webkit-border-radius: 25%;
            border-radius: 25%;
    background-color: #C5E1E5;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 8px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu::after {
    bottom: 9px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu__icon {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu._active .burger-menu__icon {
    opacity: 0;
  }
  .burger-menu._active::before {
    -webkit-transform: rotate(-45deg) translate(-50%);
        -ms-transform: rotate(-45deg) translate(-50%);
            transform: rotate(-45deg) translate(-50%);
  }
  .burger-menu._active::after {
    -webkit-transform: rotate(45deg) translate(-50%);
        -ms-transform: rotate(45deg) translate(-50%);
            transform: rotate(45deg) translate(-50%);
  }
}

@media (max-width: 320px) {
  .header {
    height: 50px;
  }
  .header__inner {
    padding-top: 7px;
  }
  .nav {
    top: 49px;
  }
}

.intro {
  width: 100%;
  height: 795px;
  background: no-repeat center top/100% 795px url(../../assets/images/intro-bg.png);
}

.intro__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro__content {
  margin-top: 103px;
}

.intro__title {
  width: 750px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  color: #F3F7F8;
  margin-bottom: 27px;
}

.intro__title_bold {
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
}

.intro__subtitle {
  width: 480px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #F3F7F8;
  margin-bottom: 87px;
}

.intro__img {
  width: 804px;
  height: 666px;
  background: no-repeat url(../../assets/images/intro-panda-layer.png), no-repeat -270px -11px url(../../assets/images/intro-panda.jpg);
  -webkit-mask-image: url(../../assets/images/intro-panda-shape.png);
          mask-image: url(../../assets/images/intro-panda-shape.png);
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro__img-border {
  opacity: 0;
  position: absolute;
  top: 25px;
  right: 0;
  margin-right: -30px;
  width: 70px;
  height: 20px;
  background: transparent;
  -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
          border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@-webkit-keyframes bordering {
  0% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
  25% {
    -webkit-border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
            border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
  }
  50% {
    -webkit-border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
            border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
  }
  75% {
    -webkit-border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
            border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
  }
  100% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
}

@keyframes bordering {
  0% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
  25% {
    -webkit-border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
            border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
  }
  50% {
    -webkit-border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
            border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
  }
  75% {
    -webkit-border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
            border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
  }
  100% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
}

.button {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  cursor: pointer;
}

.button_intro {
  padding: 14px 84px;
  color: #0D444D;
  letter-spacing: -0.05em;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button_intro:hover {
  color: #000;
  -webkit-box-shadow: 0px 2px 50px #b9d5d9;
          box-shadow: 0px 2px 50px #b9d5d9;
}

.play-btn {
  position: absolute;
  top: 333px;
  left: 373px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.play-btn-bg {
  width: 100px;
  height: 75px;
  fill: #2E2E2E;
  fill-opacity: 0.8;
}

.play-btn-icon {
  position: absolute;
  top: 17px;
  left: 35px;
  z-index: 3;
  width: 33px;
  height: 38px;
  fill: #fff;
  stroke: #fff;
}

.intro__img:hover {
  cursor: pointer;
}

.intro__img:hover + .intro__img-border {
  width: 870px;
  height: 720px;
  opacity: 1;
  background: #F3F7F8;
  -webkit-animation: bordering 10s linear infinite;
          animation: bordering 10s linear infinite;
}

.intro__img:hover .play-btn {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.intro__img:hover .play-btn .play-btn-bg {
  fill-opacity: 1;
}

.button_intro-donate {
  display: none;
}

.how-it-works {
  margin-top: -67px;
  height: 926px;
  background: no-repeat right 175px bottom 131px/130px 230px url(../../assets/images/tree.svg), no-repeat right 739px bottom 152px/147px 280px url(../../assets/images/bamboo.svg), no-repeat right 807px bottom 164px/163px 155px url(../../assets/images/panda.svg), no-repeat left 795px bottom 259px/89px 158px url(../../assets/images/tree.svg), no-repeat left 220px bottom 247px/130px 230px url(../../assets/images/tree.svg), no-repeat left bottom 241px/116px 221px url(../../assets/images/bamboo.svg), no-repeat center bottom/100% 523px url(../../assets/images/how-it-works-bg.png);
}

.how-it-works__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}

.how-it-works__title {
  display: block;
  width: 100%;
  margin-bottom: 98px;
}

.how-it-works__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px;
}

.how-it-works__icon-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 145px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
  margin-bottom: 14px;
}

.how-it-works__binoculars {
  width: 50px;
  height: 50px;
}

.how-it-works__heart-paw {
  width: 64px;
  height: 64px;
}

.how-it-works__trust {
  width: 64px;
  height: 64px;
}

.how-it-works__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #0D444D;
}

.pets-in-zoo__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 80px;
}

.button_pets-in-zoo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px;
  letter-spacing: 0.1em;
  color: #19707D;
  border: 1.5px solid #19707D;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.pets-in-zoo__favorite {
  width: 20px;
  height: 18px;
  fill: none;
  stroke: #19707D;
  margin-right: 19px;
}

.button_pets-in-zoo:hover {
  color: #fff;
  background-color: #19707D;
  -webkit-box-shadow: 0px 2px 50px #b9d5d9;
          box-shadow: 0px 2px 50px #b9d5d9;
}

.button_pets-in-zoo:hover .pets-in-zoo__favorite {
  fill: #fff;
  stroke: #fff;
}

.pets-in-zoo__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 95%;
  padding-top: 66px;
}

.pets-card {
  background-color: #fff;
  max-width: 455px;
  width: 33%;
  height: 344px;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.pets-card__photo-shape {
  position: relative;
  width: 229px;
  height: 221px;
  -webkit-mask-image: url(../../assets/images/pets-shape.svg);
          mask-image: url(../../assets/images/pets-shape.svg);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  margin: 0 auto 32px;
}

.pets-card__photo {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.pets-card__photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.pets-card__photo-panda::before {
  background: no-repeat center/384px auto url(../../assets/images/pets-panda-min.jpg);
}

.pets-card__photo-eagles::before {
  background: no-repeat center/527px auto url(../../assets/images/pets-eagles-min.jpg);
}

.pets-card__photo-gorrilas::before {
  background: no-repeat center/379px auto url(../../assets/images/pets-gorillas-min.jpg);
}

.pets-card__photo-alligators::before {
  background: no-repeat left 0 top 0/406px auto url(../../assets/images/pets-alligators-min.jpg);
}

.pets-card__photo-elephants::before {
  background: no-repeat center/384px auto url(../../assets/images/pets-elephants-min.jpg);
}

.pets-card__photo-lemurs::before {
  background: no-repeat center/310px auto url(../../assets/images/pets-lemurs-min.jpg);
}

.pets-card__photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center url(../../assets/images/pets-layer.png);
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.pets-card__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 30px 21px;
  border-top: 1px solid #E5EAEB;
}

.pets-card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2D2D2D;
  margin-bottom: 6px;
}

.pets-card__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}

.pets-card__tv {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #216E7A;
}

.pets-card:hover {
  -webkit-box-shadow: 0px 2px 30px rgba(33, 110, 122, 0.5);
          box-shadow: 0px 2px 30px rgba(33, 110, 122, 0.5);
  cursor: pointer;
}

.pets-card:hover .pets-card__tv {
  fill: #216E7A;
}

.pets-card:hover .pets-card__photo-shape,
.pets-card:hover .pets-card__photo::after {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.pets-card:hover .pets-card__photo::before {
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.pets-in-zoo__buttons {
  margin-bottom: 243px;
}

.slider-button {
  fill: none;
  stroke: #19707D;
}

.button-next,
.button-prev {
  width: 17px;
  height: 24px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button-next {
  padding: 15px 17px 15px 19px;
}

.button-prev {
  padding: 15px 19px 15px 17px;
}

.button-next:hover,
.button-prev:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.pets-in-zoo__aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 322px;
}

.pets-in-zoo__penguin {
  width: 33px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.pay-and-feed {
  width: 100%;
  height: 564px;
  background: no-repeat right 33px bottom 135px/116px 221px url(../../assets/images/bamboo.svg), no-repeat left 16px top 124px/130px 230px url(../../assets/images/tree.svg), no-repeat center top/100% 564px url(../../assets/images/pay-and-feed-bg.png);
}

.pay-and-feed__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 82px;
}

.pay-and-feed__title {
  color: #C5E1E5;
}

.button_donate {
  letter-spacing: -0.05em;
  padding: 14px 78px;
  background-color: #C5E1E5;
  color: #0D444D;
  -webkit-filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
          filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button_donate:hover {
  background-color: #fff;
  color: #000;
  -webkit-filter: drop-shadow(0px 2px 20px #b9d5d9);
          filter: drop-shadow(0px 2px 20px #b9d5d9);
}

.pay-and-feed__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 91px;
}

.pay-and-feed__card {
  position: relative;
}

.pay-and-feed__card::before {
  content: "";
  width: 266px;
  border-bottom: 1.5px solid #C5E1E5;
  position: absolute;
  top: 74px;
  left: 357px;
}

.pay-and-feed__card::after {
  content: url(../../assets/images/pay-and-feed-arrow.svg);
  width: 15px;
  height: 21px;
  position: absolute;
  top: 63px;
  left: 623px;
  background: no-repeat left 33px top 50%/15px 21px url(../../assets/images/pay-and-feed-arrow.svg);
}

.pay-and-feed__card:last-child::before {
  content: none;
}

.pay-and-feed__card:last-child::after {
  content: none;
}

.pay-and-feed__icon-bg {
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
}

.pay-and-feed__subtitle {
  color: #C5E1E5;
}

.pay-and-feed__icon {
  fill: #216E7A;
  width: 64px;
  height: 64px;
}

.testimonials__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 101px;
}

.button_leave-feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px;
  border: 1.5px solid #19707D;
  color: #19707D;
  letter-spacing: 0.1em;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.testimonials__leave-feedback {
  fill: none;
  stroke: #19707D;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.button_leave-feedback:hover {
  color: #fff;
  background-color: #19707D;
  -webkit-box-shadow: 0px 2px 50px #b9d5d9;
          box-shadow: 0px 2px 50px #b9d5d9;
  cursor: pointer;
}

.button_leave-feedback:hover .testimonials__leave-feedback {
  fill: #fff;
}

.testimonials__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 52px;
}

.testimonials__card {
  position: relative;
  width: 480px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.testimonials__text {
  height: 172px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 28px 45px;
}

.testimonials__card::after {
  content: "";
  position: absolute;
  top: 172px;
  left: 70px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 15px 0 15px;
  border-color: #fff transparent transparent transparent;
}

.testimonials__date {
  font-size: 14px;
  line-height: 16px;
  color: #B3B3B3;
  margin-bottom: 9px;
}

.testimonials__feedback {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
}

.testimonials__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 16px 19px 0;
}

.testimonials__user-photo {
  width: 68px;
  height: 68px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 16px;
}

.testimonials__user-name {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.beautiful-animals__inner {
  position: relative;
  padding-bottom: 116px;
}

.beautiful-animals__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-right: 159px;
}

.beautiful-animals__card {
  position: relative;
  width: 105px;
  height: 131px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.beautiful-animals__photo {
  position: relative;
  padding-top: 16px;
}

.beautiful-animals__photo .pets-card__photo-shape {
  -webkit-mask-size: 76px 73px;
          mask-size: 76px 73px;
  width: 76px;
  height: 73px;
}

.beautiful-animals__photo .pets-card__photo-panda::before {
  background: no-repeat center/110px auto url(../../assets/images/pets-panda-min.jpg);
}

.beautiful-animals__photo .pets-card__photo-gorrilas::before {
  background: no-repeat center/125px auto url(../../assets/images/pets-gorillas-min.jpg);
}

.beautiful-animals__photo .pets-card__photo-eagles::before {
  background: no-repeat center/174px auto url(../../assets/images/pets-eagles-min.jpg);
}

.beautiful-animals__photo .pets-card__photo-alligators::before {
  background: no-repeat left 0 top 0/135px auto url(../../assets/images/pets-alligators-min.jpg);
}

.beautiful-animals__photo .pets-card__photo-elephants::before {
  background: no-repeat center/128px auto url(../../assets/images/pets-elephants-min.jpg);
}

.beautiful-animals__photo .pets-card__photo-lemurs::before {
  background: no-repeat center/98px auto url(../../assets/images/pets-lemurs-min.jpg);
}

.beautiful-animals__photo::before {
  opacity: 0;
  content: "";
  width: 105px;
  height: 96px;
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat top 0px center/105px auto url(../../assets/images/beautiful-animals-frame.svg);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.beautiful-animals__photo:hover {
  cursor: pointer;
}

.beautiful-animals__photo:hover::before {
  opacity: 1;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.beautiful-animals__subtitle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
}

.beautiful-animals__buttons {
  position: absolute;
  top: 92px;
  right: 0;
  z-index: 2;
  width: 52px;
  height: 104px;
  margin-right: 47px;
  margin-left: 59px;
  margin-bottom: 0;
}

.slider-button_all {
  display: none;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #196469;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 58px;
}

.copyright__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.copyright__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .footer {
    height: 120px;
  }
  .footer__inner {
    padding-top: 17px;
  }
}

@media (max-width: 640px) {
  .footer {
    height: 78px;
  }
  .footer__inner {
    padding-top: 22px;
  }
  .footer__inner .nav {
    display: none;
  }
  .copyright__text {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
}

@media (max-width: 1200px) {
  .intro {
    height: 657px;
    background: no-repeat center top/100% 657px url(../../assets/images/intro-bg-1200.png);
  }
  .intro__title {
    font-size: 64px;
    line-height: 76px;
  }
  .intro__title_bold {
    font-size: 48px;
    line-height: 57px;
  }
  .intro__img {
    width: 560px;
    height: 464px;
    background: no-repeat center/560px 464px url(../../assets/images/intro-panda-layer.png), no-repeat -180px -11px/840px auto url(../../assets/images/intro-panda.jpg);
    -webkit-mask-image: url(../../assets/images/intro-panda-shape.png);
            mask-image: url(../../assets/images/intro-panda-shape.png);
    -webkit-mask-size: 560px 464px;
            mask-size: 560px 464px;
  }
  .play-btn {
    top: 238px;
    left: 267px;
  }
  .play-btn-bg {
    width: 70px;
    height: 50px;
  }
  .play-btn-icon {
    top: 9px;
    left: 25px;
    width: 23px;
    height: 27px;
  }
  .intro__img:hover + .intro__img-border {
    width: 626px;
    height: 518px;
  }
  .how-it-works {
    height: 780px;
    margin-top: -20px;
    background: no-repeat right 50px bottom 101px/147px 280px url(../../assets/images/bamboo.svg), no-repeat right 117px bottom 113px/163px 155px url(../../assets/images/panda.svg), no-repeat left 610px bottom 241px/89px 158px url(../../assets/images/tree.svg), no-repeat left 259px bottom 229px/130px 230px url(../../assets/images/tree.svg), no-repeat left bottom 241px/116px 221px url(../../assets/images/bamboo.svg), no-repeat center bottom/100% 523px url(../../assets/images/how-it-works-bg-1200.png);
  }
  .how-it-works__title {
    margin-bottom: 30px;
  }
  .how-it-works__card {
    width: 365px;
  }
  .pets-in-zoo__inner {
    padding-top: 50px;
    padding-bottom: 58px;
  }
  .button_pets-in-zoo {
    font-size: 16px;
    line-height: 21px;
    padding: 8px 20px;
  }
  .pets-in-zoo__favorite {
    width: 18px;
    height: 16px;
  }
  .pets-in-zoo__cards {
    padding-top: 56px;
  }
  .pets-card {
    width: 336px;
    height: 248px;
    margin-bottom: 30px;
    padding-top: 25px;
  }
  .pets-card__photo-shape {
    width: 156px;
    height: 151px;
    -webkit-mask-size: 156px 151px;
            mask-size: 156px 151px;
    margin-bottom: 25px;
  }
  .pets-card__photo-panda::before {
    background: no-repeat center/auto 163px url(../../assets/images/pets-panda-min.jpg);
  }
  .pets-card__photo-eagles::before {
    background: no-repeat center/auto 230px url(../../assets/images/pets-eagles-min.jpg);
  }
  .pets-card__photo-gorrilas::before {
    background: no-repeat center/auto 170px url(../../assets/images/pets-gorillas-min.jpg);
  }
  .pets-card__photo-alligators::before {
    background: no-repeat left 0 top 0/auto 170px url(../../assets/images/pets-alligators-min.jpg);
  }
  .pets-card__photo-elephants::before {
    background: no-repeat center/auto 170px url(../../assets/images/pets-elephants-min.jpg);
  }
  .pets-card__photo-lemurs::before {
    background: no-repeat center/auto 170px url(../../assets/images/pets-lemurs-min.jpg);
  }
  .pets-card__info {
    padding: 18px 16px 21px;
  }
  .pets-card__title {
    font-size: 16px;
    line-height: 19px;
  }
  .pets-card__subtitle {
    font-size: 13px;
    line-height: 15px;
  }
  .pets-card__tv {
    width: 22px;
    height: 22px;
  }
  .pets-in-zoo__buttons {
    margin-bottom: 160px;
  }
  .pets-in-zoo__aside {
    padding-top: 230px;
  }
  .pay-and-feed {
    background: no-repeat center top/100% 564px url(../../assets/images/pay-and-feed-bg-1200.png);
  }
  .pay-and-feed__inner {
    padding-top: 112px;
  }
  .pay-and-feed__cards {
    padding-top: 80px;
  }
  .button_donate {
    font-weight: 500;
    padding: 8px 50px;
  }
  .pay-and-feed__card::before {
    width: 168px;
    left: 280px;
  }
  .pay-and-feed__card::after {
    left: 448px;
  }
  .testimonials__inner {
    padding-top: 62px;
    padding-bottom: 50px;
  }
  .button_leave-feedback {
    font-size: 16px;
    line-height: 21px;
    padding: 8px 20px;
  }
  .testimonials__cards {
    padding-top: 36px;
  }
  .testimonials__card {
    width: 367px;
  }
  .beautiful-animals__inner {
    padding-bottom: 50px;
  }
  .beautiful-animals__cards {
    padding-top: 32px;
    padding-right: 110px;
  }
  .beautiful-animals__card:last-child {
    display: none;
  }
  .beautiful-animals__buttons {
    top: 75px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 640px) {
  .intro {
    margin-top: 77px;
    height: 405px;
    background: no-repeat center top/100% 405px url(../../assets/images/intro-bg-640.png);
  }
  .intro__content {
    margin-top: 29px;
  }
  .intro__title {
    width: 324px;
    font-size: 36px;
    line-height: 43px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .intro__title_bold {
    font-size: 30px;
    line-height: 36px;
  }
  .intro__subtitle {
    width: 290px;
    margin-bottom: 31px;
  }
  .intro__img {
    width: 255px;
    height: 211px;
    background: no-repeat center/255px 211px url(../../assets/images/intro-panda-layer.png), no-repeat -82px -11px/383px auto url(../../assets/images/intro-panda.jpg);
    -webkit-mask-image: url(../../assets/images/intro-panda-shape.png);
            mask-image: url(../../assets/images/intro-panda-shape.png);
    -webkit-mask-size: 255px 211px;
            mask-size: 255px 211px;
  }
  .intro__img-border {
    top: 37px;
    margin-right: -10px;
  }
  .button {
    font-size: 14px;
    line-height: 18px;
  }
  .button_intro {
    padding: 10px 50px;
  }
  .button_intro-donate {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 10px 58px;
    letter-spacing: 0.1em;
    color: #0D444D;
    background-color: #C5E1E5;
    -webkit-filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
            filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
    margin-left: 15px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .button_intro-donate:hover {
    color: #000;
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 2px 20px #b9d5d9);
            filter: drop-shadow(0px 2px 20px #b9d5d9);
  }
  .play-btn {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .play-btn-bg {
    width: 55px;
    height: 35px;
  }
  .play-btn-icon {
    top: 7px;
    left: 20px;
    width: 16px;
    height: 20px;
  }
  .intro__img:hover + .intro__img-border {
    width: 275px;
    height: 231px;
  }
  .intro__img:hover .play-btn {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
        -ms-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  .how-it-works {
    height: 534px;
    margin-top: -30px;
    background: no-repeat right 114px bottom 56px/82px 156px url(../../assets/images/bamboo.svg), no-repeat right 155px bottom 63px/91px 86px url(../../assets/images/panda.svg), no-repeat left 225px bottom 134px/50px 88px url(../../assets/images/tree.svg), no-repeat left 30px bottom 127px/72px 123px url(../../assets/images/tree.svg), no-repeat center bottom/100% 291px url(../../assets/images/how-it-works-bg-600.png);
  }
  .section-title {
    font-size: 18px;
    line-height: 21px;
  }
  .how-it-works__card {
    width: 188px;
  }
  .how-it-works__icon-bg {
    width: 113px;
    height: 113px;
  }
  .how-it-works__binoculars {
    width: 40px;
    height: 40px;
  }
  .how-it-works__heart-paw,
  .how-it-works__trust {
    width: 44px;
    height: 44px;
  }
  .pets-in-zoo__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pets-in-zoo__cards {
    padding-top: 30px;
    padding-left: 10px;
    width: 532px;
  }
  .pets-card {
    display: none;
    position: relative;
    width: 256px;
    height: 273px;
    margin-bottom: 20px;
  }
  .pets-card:nth-child(-n+4) {
    display: block;
  }
  .pets-card__photo-shape {
    width: 170px;
    height: 164px;
    -webkit-mask-size: 170px 164px;
            mask-size: 170px 164px;
  }
  .pets-card__photo-panda::before {
    background: no-repeat center/auto 164px url(../../assets/images/pets-panda-min.jpg);
  }
  .pets-card__photo-eagles::before {
    background: no-repeat center/auto 256px url(../../assets/images/pets-eagles-min.jpg);
  }
  .pets-card__photo-gorrilas::before {
    background: no-repeat center/auto 200px url(../../assets/images/pets-gorillas-min.jpg);
  }
  .pets-card__photo-alligators::before {
    background: no-repeat left 0 top 0/auto 200px url(../../assets/images/pets-alligators-min.jpg);
  }
  .pets-card__photo-elephants::before {
    background: no-repeat center/auto 200px url(../../assets/images/pets-elephants-min.jpg);
  }
  .pets-card__photo-lemurs::before {
    background: no-repeat center/auto 200px url(../../assets/images/pets-lemurs-min.jpg);
  }
  .pets-card__info {
    padding: 9px 21px;
  }
  .pets-card__tv {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 19px;
  }
  .pets-in-zoo__buttons {
    margin-bottom: 179px;
  }
  .pets-in-zoo__aside {
    padding-top: 263px;
  }
  .pay-and-feed {
    height: 364px;
    background: no-repeat center top/100% 364px url(../../assets/images/pay-and-feed-bg-640.png);
  }
  .pay-and-feed__inner {
    padding-top: 53px;
  }
  .pay-and-feed__title {
    padding-left: 16px;
  }
  .pay-and-feed__cards {
    padding-top: 50px;
  }
  .pay-and-feed__card {
    width: 186px;
  }
  .pay-and-feed__icon {
    width: 42px;
    height: 42px;
  }
  .pay-and-feed__card::before {
    content: none;
  }
  .pay-and-feed__card::after {
    top: 47px;
    left: 186px;
  }
  .testimonials__inner {
    padding-top: 50px;
  }
  .testimonials__leave-feedback {
    width: 20px;
    height: 20px;
    margin-right: 14px;
  }
  .testimonials__cards {
    padding-top: 27px;
  }
  .testimonials__card {
    display: none;
  }
  .testimonials__card:nth-child(-n+2) {
    display: block;
    width: 290px;
  }
  .testimonials__text {
    height: 132px;
    padding: 18px;
  }
  .testimonials__card::after {
    top: 132px;
    left: 40px;
  }
  .testimonials__date {
    font-size: 12px;
    line-height: 14px;
  }
  .testimonials__feedback {
    font-size: 14px;
    line-height: 20px;
  }
  .testimonials__user-photo {
    width: 40px;
    height: 40px;
  }
  .testimonials__user-photo {
    font-size: 14px;
    line-height: 16px;
  }
  .beautiful-animals__inner {
    padding-bottom: 26px;
  }
  .beautiful-animals__cards {
    padding-top: 25px;
    padding-right: 74px;
    margin-left: -15px;
  }
  .beautiful-animals__card {
    display: none;
  }
  .beautiful-animals__card:nth-child(-n+4) {
    display: block;
  }
  .beautiful-animals__subtitle {
    bottom: 15px;
  }
  .beautiful-animals__buttons {
    top: 64px;
    margin-right: -10px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .intro {
    margin-top: 49px;
    height: 508px;
    background-color: #2A8086;
    border-bottom: 23px solid #C5E1E5;
    overflow: hidden;
  }
  .intro__inner {
    position: relative;
  }
  .intro__content {
    margin-top: 0;
  }
  .intro__img {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  .intro__img-border {
    top: 15px;
    margin-right: 10px;
  }
  .intro__title {
    margin-top: 247px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 18px;
  }
  .intro__title_bold {
    font-size: 28px;
    line-height: 33px;
  }
  .intro__subtitle {
    margin-bottom: 18px;
  }
  .button_intro {
    padding: 10px 35px;
  }
  .button_intro-donate {
    padding: 10px 38px;
    margin-left: 20px;
  }
  .how-it-works {
    margin-top: 0;
    height: 967px;
    background: no-repeat left 207px bottom 56px/82px 156px url(../../assets/images/bamboo.svg), no-repeat left 160px bottom 63px/91px 86px url(../../assets/images/panda.svg), no-repeat left -9px bottom 134px/50px 88px url(../../assets/images/tree.svg), no-repeat center bottom/100% 291px url(../../assets/images/how-it-works-bg-320.png);
  }
  .how-it-works__inner {
    padding-top: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .how-it-works__title {
    margin-bottom: 20px;
  }
  .how-it-works__card {
    margin-bottom: 24px;
  }
  .pets-in-zoo {
    height: 817px;
  }
  .pets-in-zoo__inner {
    position: relative;
    padding-top: 10px;
  }
  .pets-in-zoo__title {
    margin-bottom: 22px;
  }
  .pets-in-zoo__cards {
    width: 240px;
    padding-top: 0;
    padding-left: 0;
  }
  .pets-card:nth-child(-n+4) {
    display: none;
  }
  .pets-card:nth-child(-n+2) {
    display: block;
  }
  .pets-card {
    width: 240px;
    height: 260px;
    padding-top: 49px;
    margin-bottom: 20px;
  }
  .pets-card__photo-shape {
    width: 153px;
    height: 147px;
    -webkit-mask-size: 153px 147px;
            mask-size: 153px 147px;
  }
  .pets-card__info {
    padding: 10px 10px;
  }
  .pets-card__title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .pets-in-zoo__buttons {
    margin-bottom: 0;
  }
  .pets-in-zoo__aside {
    padding-top: 0;
  }
  .pets-in-zoo__penguin {
    display: none;
  }
  .button_pets-in-zoo {
    position: absolute;
    bottom: -40px;
  }
  .pay-and-feed {
    position: relative;
    height: 905px;
    background: no-repeat center top/100% 905px url(../../assets/images/pay-and-feed-bg-320.png);
  }
  .pay-and-feed__inner {
    padding-top: 50px;
  }
  .pay-and-feed__title {
    padding-left: 0;
  }
  .pay-and-feed__cards {
    padding-top: 22px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pay-and-feed__card {
    margin-bottom: 74px;
  }
  .pay-and-feed__card::after {
    top: 115%;
    left: 50%;
    -webkit-transform: translate(-50%) rotate(90deg);
        -ms-transform: translate(-50%) rotate(90deg);
            transform: translate(-50%) rotate(90deg);
  }
  .button_donate {
    position: absolute;
    left: 10px;
    bottom: 94px;
    padding: 11px 72px;
  }
  .testimonials__inner {
    position: relative;
    height: 698px;
    margin-top: 32px;
    padding-top: 0;
  }
  .testimonials__title {
    margin-bottom: 30px;
  }
  .testimonials__cards {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 0;
    margin-top: 0;
  }
  .testimonials__card:nth-child(-n+2),
  .testimonials__card {
    display: block;
    width: 300px;
    margin-bottom: 24px;
  }
  .button_leave-feedback {
    position: absolute;
    bottom: 15px;
  }
  .button_leave-feedback {
    padding: 9px 62px;
  }
  .beautiful-animals {
    height: 407px;
    margin-top: 30px;
  }
  .beautiful-animals__inner {
    position: relative;
  }
  .beautiful-animals__cards {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-right: 0;
    margin-left: 0;
  }
  .beautiful-animals__card {
    display: block;
    margin-bottom: 24px;
    width: 100px;
  }
  .beautiful-animals__buttons {
    position: absolute;
    top: 322px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    margin-right: 0;
  }
  .slider-button_hidden {
    display: none;
  }
  .slider-button_all {
    display: block;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 50%;
    margin-top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */