// Reset, body, variables, h1-hidden, container
// ==========================================

@import "../common-blocks/scss/general";


// Header
// ==========================================

@import "../common-blocks/scss/header";


// Intro
// ==========================================

.intro {
    width: 100%;
    height: 795px;
    background: no-repeat center top / 100% 795px url(../../assets/images/intro-bg.png);
}

.intro__inner {
    display: flex;
    position: relative;
}

.intro__content {
    margin-top: 103px;
}

.intro__title {
    width: 750px;
    font-family: $font-rubik;
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    color: $hero-text-color;

    margin-bottom: 27px;
}

.intro__title_bold {
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
}

.intro__subtitle {
    width: 480px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $hero-text-color;

    margin-bottom: 87px;
}

.intro__img {
    width: 804px;
    height: 666px;
    background: no-repeat url(../../assets/images/intro-panda-layer.png),
                no-repeat -270px -11px url(../../assets/images/intro-panda.jpg);
    mask-image: url(../../assets/images/intro-panda-shape.png);

    position: absolute;
    top: 48px;
    right: 0;
    z-index: 1;

    transition: all 0.2s linear;
}

.intro__img-border {
    opacity: 0;
    position: absolute;
    top: 25px;
    right: 0;
    margin-right: -30px;
    width: 70px;
    height: 20px;
    background: transparent;
    border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;

    transition: all 0.5s linear;
}

@keyframes bordering {
    0% {
        border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
    }
    25% {
        border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
    }
    50% {
        border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
    }
    75% {
        border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
    }
    100% {
        border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
    }
}

// Buttons
//==============

.button {
    font-family: $font-roboto-mono;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 100px;

    cursor: pointer;
}

.button_intro {
    padding: 14px 84px;
    color: $black-color;
    letter-spacing: -0.05em;
    background-color: #fff;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
    transition: all 0.2s linear;
}

.button_intro:hover {
    color: #000;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 1);
}

.play-btn {
    position: absolute;
    top: 333px;
    left: 373px;
    z-index: 2;

    cursor: pointer;
    transition: all 0.2s linear;
}

.play-btn-bg {
    width: 100px;
    height: 75px;
    fill: #2E2E2E;
    fill-opacity: 0.8;
}

.play-btn-icon {
    position: absolute;
    top: 17px;
    left: 35px;
    z-index: 3;
    width: 33px;
    height: 38px;
    fill: #fff;
    stroke: #fff;
}

.intro__img:hover {
    cursor: pointer;
    
    + .intro__img-border {
        width: 870px;
        height: 720px;
        opacity: 1;
        background: $hero-text-color;
        animation: bordering 10s linear infinite;
    }

    .play-btn {
        .play-btn-bg {
            fill-opacity: 1;
        }
        transform: scale(1.2);
    }
}


// How it works
// ==========================================

// TODO: background right/left in % ???

.how-it-works {
    margin-top: -67px;
    height: 926px;
    background: no-repeat right 175px bottom 131px / 130px 230px url(../../assets/images/tree.svg),
                no-repeat right 739px bottom 152px / 147px 280px url(../../assets/images/bamboo.svg),
                no-repeat right 807px bottom 164px / 163px 155px url(../../assets/images/panda.svg),
                no-repeat left 795px bottom 259px / 89px 158px url(../../assets/images/tree.svg),
                no-repeat left 220px bottom 247px / 130px 230px url(../../assets/images/tree.svg),
                no-repeat left bottom 241px / 116px 221px url(../../assets/images/bamboo.svg),
                no-repeat center bottom / 100% 523px url(../../assets/images/how-it-works-bg.png);
}

.how-it-works__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-title {
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $black-color;
}

.how-it-works__title {
    display: block;
    width: 100%;
    
    margin-bottom: 98px;
}

.how-it-works__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.how-it-works__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 145px;
    height: 145px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);

    margin-bottom: 14px;
}

.how-it-works__binoculars {
    width: 50px;
    height: 50px;
}

.how-it-works__heart-paw {
    width: 64px;
    height: 64px;
}

.how-it-works__trust {
    width: 64px;
    height: 64px;
}

.how-it-works__subtitle {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $black-color;
}


// Pets in zoo
// ==========================================

.pets-in-zoo__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 80px;
}

.button_pets-in-zoo {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    letter-spacing: 0.1em;
    color: $button-lined;
    border: 1.5px solid $button-lined;
    
    transition: all 0.2s linear;
}

.pets-in-zoo__favorite {
    width: 20px;
    height: 18px;
    fill: none;
    stroke: $button-lined;

    margin-right: 19px;
}

.button_pets-in-zoo:hover {
    .pets-in-zoo__favorite {
        fill: #fff;
        stroke: #fff;
    }
    color: #fff;
    background-color: $button-lined;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 1);
}

.pets-in-zoo__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
    padding-top: 66px;
}

.pets-card {
    background-color: #fff;
    max-width: 455px;
    width: 33%; //455
    height: 344px; //364px - 20px
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding-top: 20px;
    margin-bottom: 20px;

    transition: all 0.2s linear;
}

.pets-card__photo-shape {
    position: relative;
    width: 229px;
    height: 221px;
    mask-image: url(../../assets/images/pets-shape.svg);
    transition: transform 0.4s linear;
    margin: 0 auto 32px;
}

.pets-card__photo {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

.pets-card__photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transition: transform 0.4s linear;
}

.pets-card__photo-panda::before {
    background: no-repeat center / 384px auto url(../../assets/images/pets-panda-min.jpg);
}

.pets-card__photo-eagles::before {
    background: no-repeat center / 527px auto url(../../assets/images/pets-eagles-min.jpg);
}

.pets-card__photo-gorrilas::before {
    background: no-repeat center / 379px auto url(../../assets/images/pets-gorillas-min.jpg);
}

.pets-card__photo-alligators::before {
    background: no-repeat left 0 top 0 / 406px auto url(../../assets/images/pets-alligators-min.jpg);
}

.pets-card__photo-elephants::before {
    background: no-repeat center / 384px auto url(../../assets/images/pets-elephants-min.jpg);
}

.pets-card__photo-lemurs::before {
    background: no-repeat center / 310px auto url(../../assets/images/pets-lemurs-min.jpg);
}

.pets-card__photo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: no-repeat center url(../../assets/images/pets-layer.png);
    transition: transform 0.4s linear;
}

.pets-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 30px 21px;
    border-top: 1px solid #E5EAEB;
}

.pets-card__title {
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2D2D2D;

    margin-bottom: 6px;
}

.pets-card__subtitle {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}

.pets-card__tv {
    width: 32px;
    height: 32px;
    fill: none;
    stroke: $bamboo-color;
}

.pets-card:hover {
    box-shadow: 0px 2px 30px rgba(33, 110, 122, 0.5); //$bamboo-color
    .pets-card__tv {
        fill: $bamboo-color;
    }
    .pets-card__photo-shape,
    .pets-card__photo::after {
        transform: rotate(360deg);
    }
    
    .pets-card__photo::before {
        transform: rotate(-360deg);
    }

    cursor: pointer;
}

.pets-in-zoo__buttons {
    margin-bottom: 243px;
}

.slider-button {
    fill: none;
    stroke: $button-lined;
}

.button-next,
.button-prev {
    width: 17px;
    height: 24px;
    transition: all 0.2s linear;
}

.button-next{
    padding: 15px 17px 15px 19px;
}

.button-prev {
    padding: 15px 19px 15px 17px;
}

.button-next:hover,
.button-prev:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.pets-in-zoo__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 322px;
}

.pets-in-zoo__penguin {
    width: 33px;
    transform: rotateY(180deg);
}


// Pay and feed
// ==========================================

.pay-and-feed {
    width: 100%;
    height: 564px;
    background: no-repeat right 33px bottom 135px / 116px 221px url(../../assets/images/bamboo.svg),
                no-repeat left 16px top 124px / 130px 230px url(../../assets/images/tree.svg),
                no-repeat center top / 100% 564px url(../../assets/images/pay-and-feed-bg.png);
}

.pay-and-feed__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
}

.pay-and-feed__title {
    color: $white-color;
}

.button_donate {
    letter-spacing: -0.05em;
    padding: 14px 78px;
    background-color: $white-color;
    color: $black-color;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
    transition: all 0.2s linear;
}

.button_donate:hover {
    background-color: #fff;
    color: #000;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 1));
}

.pay-and-feed__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 91px;
}

.pay-and-feed__card {
    position: relative;
}

.pay-and-feed__card::before {
    content: "";
    width: 266px;
    border-bottom: 1.5px solid $white-color;
    position: absolute;
    top: 74px;
    left: 357px; //145px + 49px
}

.pay-and-feed__card::after {
    content: url(../../assets/images/pay-and-feed-arrow.svg);
    width: 15px;
    height: 21px;
    position: absolute;
    top: 63px;
    left: 623px; //357px + 266px
    background: no-repeat left 33px top 50% / 15px 21px url(../../assets/images/pay-and-feed-arrow.svg);
}

.pay-and-feed__card:last-child {

    &::before {
        content: none;
    }

    &::after {
        content: none;
    }
}

.pay-and-feed__icon-bg {
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
}

.pay-and-feed__subtitle {
    color: $white-color;
}

.pay-and-feed__icon {
    fill: $bamboo-color;
    width: 64px;
    height: 64px;
}


// Testimonials
// ==========================================

.testimonials__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 101px;
}

.button_leave-feedback {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border: 1.5px solid $button-lined;
    color: $button-lined;
    letter-spacing: 0.1em;

    transition: all 0.2s linear;
}

.testimonials__leave-feedback {
    fill: none;
    stroke: $button-lined;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.button_leave-feedback:hover {
    .testimonials__leave-feedback {
        fill: #fff;
    }
    color: #fff;
    background-color: $button-lined;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 1);
    cursor: pointer;
}

.testimonials__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 52px;
}

.testimonials__card {
    position: relative;
    width: 480px;
    font-family: $font-roboto;
    font-weight: 400;
}

.testimonials__text {
    height: 172px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 28px 45px;
}

.testimonials__card::after {
    content: "";
    position: absolute;
    top: 172px;
    left: 70px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 15px 0 15px;
    border-color: #fff transparent transparent transparent;
}

.testimonials__date {
    font-size: 14px;
    line-height: 16px;
    color: #B3B3B3;
    margin-bottom: 9px;
}

.testimonials__feedback {
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
}

.testimonials__user {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 16px 19px 0;
}

.testimonials__user-photo {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-right: 16px;
}

.testimonials__user-name {
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}


// Look at this beautiful animals
// ==========================================

.beautiful-animals__inner {
    position: relative;
    padding-bottom: 116px;
}

.beautiful-animals__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-right: 159px;
}

.beautiful-animals__card {
    position: relative;
    width: 105px;
    height: 131px;

    transition: all 0.2s linear;
}

.beautiful-animals__photo {
    position: relative;
    padding-top: 16px;
    
    .pets-card__photo-shape {
        mask-size: 76px 73px;
        width: 76px;
        height: 73px;
    }

    .pets-card__photo-panda::before {
        background: no-repeat center / 110px auto url(../../assets/images/pets-panda-min.jpg);
    }
    
    .pets-card__photo-gorrilas::before {
        background: no-repeat center / 125px auto url(../../assets/images/pets-gorillas-min.jpg);
    }

    .pets-card__photo-eagles::before {
        background: no-repeat center / 174px auto url(../../assets/images/pets-eagles-min.jpg);
    }

    .pets-card__photo-alligators::before {
        background: no-repeat left 0 top 0 / 135px auto url(../../assets/images/pets-alligators-min.jpg);
    }

    .pets-card__photo-elephants::before {
        background: no-repeat center / 128px auto url(../../assets/images/pets-elephants-min.jpg);
    }

    .pets-card__photo-lemurs::before {
        background: no-repeat center / 98px auto url(../../assets/images/pets-lemurs-min.jpg);
    }
}

.beautiful-animals__photo::before {
    opacity: 0;
    content: "";
    width: 105px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat top 0px center / 105px auto url(../../assets/images/beautiful-animals-frame.svg);
    transition: all 0.4s linear;
}

.beautiful-animals__photo:hover {
    &::before {
        opacity: 1;
        transform: rotate(360deg);
    }

    cursor: pointer;
}

.beautiful-animals__subtitle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2D2D;
}

.beautiful-animals__buttons {
    position: absolute;
    top: 92px;
    right: 0;
    z-index: 2;

    width: 52px;
    height: 104px;
    margin-right: 47px;
    margin-left: 59px;

    margin-bottom: 0;
}


// Footer
// ==========================================

@import "../common-blocks/scss/footer";


// Media
// ====================================================================================

//media queries for .container, header are in the appropriate files

// media 1200px
// ==========================================

@media (max-width: 1200px) {

/// Intro
// ==========================================

    .intro {
        height: 657px;
        background: no-repeat center top / 100% 657px url(../../assets/images/intro-bg-1200.png);
    }

    .intro__title {
        font-size: 64px;
        line-height: 76px;
    }

    .intro__img {
        width: 560px;
        height: 464px;
        background: no-repeat center / 560px 464px url(../../assets/images/intro-panda-layer.png),
                    no-repeat -180px -11px / 840px auto url(../../assets/images/intro-panda.jpg);
        mask-image: url(../../assets/images/intro-panda-shape.png);
        mask-size: 560px 464px;
    }

    .play-btn {
        top: 238px;
        left: 267px;
    }

    .play-btn-bg {
        width: 70px;
        height: 50px;
    }

    .play-btn-icon {
        top: 9px;
        left: 25px;
        width: 23px;
        height: 27px;
    }

    .intro__img:hover {
        + .intro__img-border {
            width: 626px;
            height: 518px;
        }
    }


/// How it works
// ==========================================

    .how-it-works {
        height: 780px;
        margin-top: -20px;
        background: no-repeat right 50px bottom 101px / 147px 280px url(../../assets/images/bamboo.svg),
                no-repeat right 117px bottom 113px / 163px 155px url(../../assets/images/panda.svg),
                no-repeat left 610px bottom 241px / 89px 158px url(../../assets/images/tree.svg),
                no-repeat left 259px bottom 229px / 130px 230px url(../../assets/images/tree.svg),
                no-repeat left bottom 241px / 116px 221px url(../../assets/images/bamboo.svg),
                no-repeat center bottom / 100% 523px url(../../assets/images/how-it-works-bg-1200.png);
    }

    .how-it-works__title {
        margin-bottom: 30px;
    }

    .how-it-works__card {
        width: 365px;
    }


/// Pets in zoo
// ==========================================

    .pets-in-zoo__inner {
        padding-top: 50px;
        padding-bottom: 58px;
    }

    .button_pets-in-zoo {
        font-size: 16px;
        line-height: 21px;
        padding: 8px 20px;
    }

    .pets-in-zoo__favorite {
        width: 18px;
        height: 16px;
    }

    .pets-in-zoo__cards {
        padding-top: 56px;
    }

    .pets-card {
        width: 336px;
        height: 248px;
        margin-bottom: 30px;
        padding-top: 25px;
    }

    .pets-card__photo-shape {
        width: 156px;
        height: 151px;
        mask-size: 156px 151px;
        margin-bottom: 25px;
    }

    .pets-card__photo-panda::before {
        background: no-repeat center / auto 163px url(../../assets/images/pets-panda-min.jpg);
    }
    
    .pets-card__photo-eagles::before {
        background: no-repeat center / auto 230px url(../../assets/images/pets-eagles-min.jpg);
    }
    
    .pets-card__photo-gorrilas::before {
        background: no-repeat center / auto 170px url(../../assets/images/pets-gorillas-min.jpg);
    }
    
    .pets-card__photo-alligators::before {
        background: no-repeat left 0 top 0 / auto 170px url(../../assets/images/pets-alligators-min.jpg);
    }
    
    .pets-card__photo-elephants::before {
        background: no-repeat center / auto 170px url(../../assets/images/pets-elephants-min.jpg);
    }
    
    .pets-card__photo-lemurs::before {
        background: no-repeat center / auto 170px url(../../assets/images/pets-lemurs-min.jpg);
    }
    
    .pets-card__info {
        padding: 18px 16px 21px;
    }

    .pets-card__title {
        font-size: 16px;
        line-height: 19px;
    }

    .pets-card__subtitle {
        font-size: 13px;
        line-height: 15px;
    }

    .pets-card__tv {
        width: 22px;
        height: 22px;
    }

    .pets-in-zoo__buttons {
        margin-bottom: 160px;
    }
    
    .pets-in-zoo__aside {
        padding-top: 230px;
    }


// Pay and feed
// ==========================================
    .pay-and-feed {
        background: no-repeat center top / 100% 564px url(../../assets/images/pay-and-feed-bg-1200.png);
    }

    .pay-and-feed__inner {
        padding-top: 112px;
    }

    .pay-and-feed__cards {
        padding-top: 80px;
    }

    .button_donate {
        font-weight: 500;
        padding: 8px 50px;
    }

    .pay-and-feed__card::before {
        width: 168px;
        left: 280px;
    }

    .pay-and-feed__card::after {
        left: 448px;
    }

// Testimonials
// ==========================================

    .testimonials__inner {
        padding-top: 62px;
        padding-bottom: 50px;
    }

    .button_leave-feedback {
        font-size: 16px;
        line-height: 21px;
        padding: 8px 20px;
    }

    .testimonials__cards {
        padding-top: 36px;
    }

    .testimonials__card {
        width: 367px;
    }

// Look at this beautiful animals
// ==========================================

    .beautiful-animals__inner {
        padding-bottom: 50px;
    }

    .beautiful-animals__cards {
        padding-top: 32px;
        padding-right: 110px;
    }

    .beautiful-animals__card:last-child {
        display: none;
    }

    .beautiful-animals__buttons {
        top: 75px;
        margin-right: 0;
        margin-bottom: 0;
    }
}