h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

.h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2A8086;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

.header {
  background-color: #2A8086;
  width: 100%;
  height: 110px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.logo {
  width: 108px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0D444D;
  margin-right: 52px;
  cursor: pointer;
}

.logo__text_upper {
  text-transform: uppercase;
}

.logo__elem {
  width: 73px;
  height: 25px;
  fill: #C5E1E5;
}

.navbar-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #C5E1E5;
  text-transform: uppercase;
  margin-right: 52px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link_active {
  border-bottom: 2px solid #C5E1E5;
  pointer-events: none;
}

.navbar-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right__item {
  margin-right: 24px;
}

.navbar-right__item:first-child {
  margin-right: 40px;
}

.navbar-right__item:last-child {
  margin-right: 0;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  margin-right: 5px;
  background-color: transparent;
  border-bottom: 2px solid #C5E1E5;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search__input::-webkit-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input:-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__icon {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.search__icon:hover {
  opacity: 0.5;
}

.search__icon:hover + .search__input {
  visibility: visible;
  opacity: 1;
}

.search__icon-elem {
  width: 32px;
  height: 32px;
  stroke: #C5E1E5;
  fill: none;
}

.navbar-right__button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navbar-right__button:hover {
  opacity: 0.5;
}

.navbar-right__button_sign-up {
  width: 97px;
  height: 52px;
  border: 1px solid #C5E1E5;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.intro {
  width: 100%;
  height: 803px;
  background: no-repeat center top/100% 803px url(../../../assets/images/intro-bg.png);
}

.intro__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro__content {
  margin-top: 103px;
}

.intro__title {
  width: 750px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  color: #F3F7F8;
  margin-bottom: 27px;
}

.intro__title_bold {
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
}

.intro__subtitle {
  width: 480px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #F3F7F8;
  margin-bottom: 87px;
}

.intro__img {
  width: 804px;
  height: 666px;
  background: no-repeat url(../../../assets/images/intro-panda-layer.png), no-repeat -270px -11px url(../../../assets/images/intro-panda.jpg);
  -webkit-mask-image: url(../../../assets/images/intro-panda-shape.png);
          mask-image: url(../../../assets/images/intro-panda-shape.png);
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro__img-border {
  opacity: 0;
  position: absolute;
  top: 25px;
  right: 0;
  margin-right: -30px;
  width: 70px;
  height: 20px;
  background: transparent;
  -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
          border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.intro__img:hover + .intro__img-border {
  width: 870px;
  height: 720px;
  opacity: 1;
  background: #F3F7F8;
  -webkit-animation: bordering 10s linear infinite;
          animation: bordering 10s linear infinite;
}

@-webkit-keyframes bordering {
  0% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
  25% {
    -webkit-border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
            border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
  }
  50% {
    -webkit-border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
            border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
  }
  75% {
    -webkit-border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
            border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
  }
  100% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
}

@keyframes bordering {
  0% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
  25% {
    -webkit-border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
            border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
  }
  50% {
    -webkit-border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
            border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
  }
  75% {
    -webkit-border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
            border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
  }
  100% {
    -webkit-border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
            border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
  }
}

.button {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  cursor: pointer;
}

.button_intro {
  padding: 14px 84px;
  color: #0D444D;
  letter-spacing: -0.05em;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button_intro:hover {
  color: #000;
  -webkit-box-shadow: 0px 2px 50px #b9d5d9;
          box-shadow: 0px 2px 50px #b9d5d9;
}

.play-btn {
  position: absolute;
  top: 333px;
  left: 373px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.play-btn-bg {
  width: 100px;
  height: 75px;
  fill: #2E2E2E;
  fill-opacity: 0.8;
}

.play-btn-icon {
  position: absolute;
  top: 17px;
  left: 35px;
  z-index: 3;
  width: 33px;
  height: 38px;
  fill: #fff;
  stroke: #fff;
}

.play-btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.play-btn:hover .play-btn-bg {
  fill-opacity: 1;
}
/*# sourceMappingURL=style.css.map */