body {
  margin: 0;
  background-color: #f6f9fa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

.h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2A8086;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }
}

.header {
  background-color: #2A8086;
  width: 100%;
  height: 110px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.logo {
  width: 108px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0D444D;
  margin-right: 52px;
  cursor: pointer;
}

.logo__text_upper {
  text-transform: uppercase;
}

.logo__elem {
  width: 73px;
  height: 25px;
  fill: #C5E1E5;
}

.navbar-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #C5E1E5;
  text-transform: uppercase;
  margin-right: 52px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link_active {
  border-bottom: 2px solid #C5E1E5;
  pointer-events: none;
}

.navbar-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right__item {
  margin-right: 24px;
}

.navbar-right__item:first-child {
  margin-right: 40px;
}

.navbar-right__item:last-child {
  margin-right: 0;
}

.user-icon {
  fill: #fff;
  width: 56px;
  height: 56px;
}

.navbar-right__item:nth-child(2) {
  display: none;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  margin-right: 5px;
  background-color: transparent;
  border-bottom: 2px solid #C5E1E5;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search__input::-webkit-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input:-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__icon {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.search__icon:hover {
  opacity: 0.5;
}

.search__icon:hover + .search__input {
  visibility: visible;
  opacity: 1;
}

.search__icon-elem {
  width: 32px;
  height: 32px;
  stroke: #C5E1E5;
  fill: none;
}

.navbar-right__button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navbar-right__button:hover {
  opacity: 0.5;
}

.navbar-right__button_sign-up {
  width: 97px;
  height: 52px;
  border: 1px solid #C5E1E5;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

@media (max-width: 1200px) {
  .nav__link {
    margin-right: 42px;
  }
  .navbar-right__item {
    display: none;
  }
  .navbar-right__item:nth-child(1) {
    display: block;
    margin-right: 30px;
  }
  .navbar-right__item:nth-child(2) {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .header {
    height: 78px;
    position: fixed;
    top: 0;
    z-index: 15;
  }
  .header__inner {
    padding-top: 20px;
  }
  .logo {
    width: 49px;
    font-size: 16px;
    line-height: 19px;
  }
  .logo__elem {
    width: 32px;
    height: 11px;
  }
  .nav {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .burger-menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .burger-menu__icon,
  .burger-menu::before,
  .burger-menu::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 23px;
    height: 2px;
    -webkit-border-radius: 25%;
            border-radius: 25%;
    background-color: #C5E1E5;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 8px;
  }
  .burger-menu::after {
    bottom: 9px;
  }
  .burger-menu__icon {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.error-page {
  position: relative;
  width: 100%;
  height: 920px;
  background: no-repeat left 577px bottom 74px/33px 65px url(../../assets/images/penguin.svg), no-repeat right 94px bottom 38px/130px 230px url(../../assets/images/tree.svg), no-repeat right 738px bottom 147px/147px 280px url(../../assets/images/bamboo.svg), no-repeat right 805px bottom 157px/163px 155px url(../../assets/images/panda.svg), no-repeat left 380px bottom 154px/130px 230px url(../../assets/images/tree.svg), no-repeat center bottom -90px/100% 493px url(../../assets/images/zoos-bg.png);
}

.error-page__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.error-page__title {
  font-family: Sahitya, sans-serif;
  font-weight: 400;
  font-size: 250px;
  color: #0D444D;
  margin-bottom: 10px;
}

.error-page__message {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D444D;
  margin-bottom: 36px;
}

.button {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  cursor: pointer;
}

.button_back {
  letter-spacing: -0.05em;
  padding: 14px 78px;
  background-color: #19707D;
  color: #F3F7F8;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button_back:hover {
  background-color: #F3F7F8;
  color: #19707D;
  -webkit-filter: drop-shadow(0px 2px 20px #b9d5d9);
          filter: drop-shadow(0px 2px 20px #b9d5d9);
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #196469;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 58px;
}

.copyright__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.copyright__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .footer {
    height: 120px;
  }
  .footer__inner {
    padding-top: 17px;
  }
}

@media (max-width: 640px) {
  .footer {
    height: 78px;
  }
  .footer__inner {
    padding-top: 22px;
  }
  .footer__inner .nav {
    display: none;
  }
  .copyright__text {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
}

@media (max-width: 1200px) {
  .error-page {
    background: no-repeat left 347px bottom 64px/33px 65px url(../../assets/images/penguin.svg), no-repeat right 94px bottom 38px/130px 230px url(../../assets/images/tree.svg), no-repeat right 338px bottom 107px/147px 280px url(../../assets/images/bamboo.svg), no-repeat right 405px bottom 117px/163px 155px url(../../assets/images/panda.svg), no-repeat left 30px bottom 154px/130px 230px url(../../assets/images/tree.svg), no-repeat center bottom/100% 346px url(../../assets/images/zoos-bg-1200.png);
  }
}
/*# sourceMappingURL=style.css.map */