body {
  margin: 0;
  background-color: #f6f9fa;
}

body._lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

.h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: #2A8086;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

@media (max-width: 1579px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 639px) {
  .container {
    max-width: 300px;
  }
}

.header {
  background-color: #2A8086;
  width: 100%;
  height: 110px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.logo {
  width: 108px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0D444D;
  margin-right: 52px;
  cursor: pointer;
}

.logo__text_upper {
  text-transform: uppercase;
}

.logo__elem {
  width: 73px;
  height: 25px;
  fill: #C5E1E5;
}

.navbar-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:last-child {
  display: none;
}

.nav__link {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #C5E1E5;
  text-transform: uppercase;
  margin-right: 52px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__link_active {
  border-bottom: 2px solid #C5E1E5;
  pointer-events: none;
}

.navbar-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right__item {
  margin-right: 24px;
}

.navbar-right__item:first-child {
  margin-right: 40px;
}

.navbar-right__item:last-child {
  margin-right: 0;
}

.user-icon {
  fill: #fff;
  width: 56px;
  height: 56px;
}

.navbar-right__item:nth-child(2) {
  display: none;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  margin-right: 5px;
  background-color: transparent;
  border-bottom: 2px solid #C5E1E5;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search__input::-webkit-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input:-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::-ms-input-placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__input::placeholder {
  color: #C5E1E5;
  opacity: 0.5;
}

.search__icon {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.search__icon:hover {
  opacity: 0.5;
}

.search__icon:hover + .search__input {
  visibility: visible;
  opacity: 1;
}

.search__icon-elem {
  width: 32px;
  height: 32px;
  stroke: #C5E1E5;
  fill: none;
}

.navbar-right__button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C5E1E5;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navbar-right__button:hover {
  opacity: 0.5;
}

.navbar-right__button_sign-up {
  width: 97px;
  height: 52px;
  border: 1px solid #C5E1E5;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.burger-menu {
  display: none;
}

@media (max-width: 1579px) {
  .nav__link {
    margin-right: 42px;
  }
  .navbar-right__item {
    display: none;
  }
  .navbar-right__item:nth-child(1) {
    display: block;
    margin-right: 30px;
  }
  .navbar-right__item:nth-child(2) {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .header {
    height: 78px;
    position: fixed;
    top: 0;
    z-index: 15;
  }
  .header__inner {
    padding-top: 20px;
  }
  .logo {
    width: 49px;
    font-size: 16px;
    line-height: 19px;
  }
  .logo__elem {
    width: 32px;
    height: 11px;
  }
  .nav {
    position: fixed;
    top: 78px;
    right: -100%;
    width: 100%;
    z-index: 13;
    text-align: center;
    background-color: #2A8086;
    border-top: 1px solid rgba(18, 87, 91, 0.25);
    padding-top: 34px;
    padding-bottom: 38px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .nav._active {
    right: 0;
  }
  .nav__main-navbar {
    display: block;
  }
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    display: block;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    margin-right: 0;
    color: #F3F7F8;
  }
  .nav__link_active {
    border: none;
  }
  .navbar-right {
    display: none;
  }
  .burger-menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .burger-menu__icon,
  .burger-menu::before,
  .burger-menu::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    width: 23px;
    height: 2px;
    -webkit-border-radius: 25%;
            border-radius: 25%;
    background-color: #C5E1E5;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 8px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu::after {
    bottom: 9px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu__icon {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .burger-menu._active .burger-menu__icon {
    opacity: 0;
  }
  .burger-menu._active::before {
    -webkit-transform: rotate(-45deg) translate(-50%);
        -ms-transform: rotate(-45deg) translate(-50%);
            transform: rotate(-45deg) translate(-50%);
  }
  .burger-menu._active::after {
    -webkit-transform: rotate(45deg) translate(-50%);
        -ms-transform: rotate(45deg) translate(-50%);
            transform: rotate(45deg) translate(-50%);
  }
}

@media (max-width: 639px) {
  .header {
    height: 50px;
  }
  .header__inner {
    padding-top: 7px;
  }
  .nav {
    top: 49px;
  }
}

.main {
  position: relative;
}

.main__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 155px;
}

.side-bar-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-740px);
      -ms-transform: translate(-740px);
          transform: translate(-740px);
  z-index: 10;
  width: 105px;
  height: 1725px;
}

.side-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.side-bar__inner {
  width: 105px;
  margin-top: 40px;
  margin-right: 50px;
  padding-bottom: 30px;
}

.side-bar__animals-card {
  cursor: pointer;
  position: relative;
  display: block;
  width: 105px;
  padding-bottom: 15px;
  padding-top: 16px;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar__animals-photo-bg {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 105px;
  height: 96px;
  fill: #2A8086;
  -webkit-filter: drop-shadow(0px 4px 10px #C5E1E5);
          filter: drop-shadow(0px 4px 10px #C5E1E5);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar__animals-photo-shape {
  position: relative;
  width: 76px;
  height: 73px;
  -webkit-mask-image: url(../../../assets/images/pets-shape.svg);
          mask-image: url(../../../assets/images/pets-shape.svg);
  -webkit-mask-size: 76px 73px;
          mask-size: 76px 73px;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  margin: 0 auto;
}

.side-bar__animals-photo {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.side-bar__animals-photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.side-bar__animals-photo_pandas::before {
  background: no-repeat center/110px auto url(../../../assets/images/pets-panda-min.jpg);
}

.side-bar__animals-photo_eagles::before {
  background: no-repeat center/175px auto url(../../../assets/images/pets-eagles-min.jpg);
}

.side-bar__animals-photo_gorillas::before {
  background: no-repeat center/126px auto url(../../../assets/images/pets-gorillas-min.jpg);
}

.side-bar__animals-photo_alligators::before {
  background: no-repeat left 0 bottom 0/135px auto url(../../../assets/images/pets-alligators-min.jpg);
}

.side-bar__animals-card:hover .side-bar__animals-photo-shape {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.side-bar__animals-card:hover .side-bar__animals-photo::before {
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.side-bar__animals-title {
  position: relative;
  top: 8px;
  z-index: 2;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
}

.side-bar__animals-card_active {
  cursor: default;
}

.side-bar__animals-card_active .side-bar__animals-photo-bg {
  visibility: visible;
  opacity: 1;
}

.side-bar__open {
  display: none;
}

.zoos {
  width: 100%;
}

.zoos__inner {
  padding-top: 50px;
  width: 100%;
}

.zoos__title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.zoos__title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}

.zoos__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.zoos__button {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: lowercase;
  color: #19707D;
  width: 42px;
  height: 42px;
  border: 1.5px solid #19707D;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 34px;
  cursor: pointer;
}

.zoos__button_info,
.zoos__button_favorite {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.zoos__button-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.zoos__button-favorite-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #19707D;
  padding-top: 8px;
}

.zoos__button_info:hover,
.zoos__button_favorite:hover {
  color: #fff;
  background-color: #19707D;
}

.zoos__button_info:hover .zoos__button-favorite-icon,
.zoos__button_favorite:hover .zoos__button-favorite-icon {
  fill: #fff;
  stroke: #fff;
}

.zoos__cameras-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #0D444D;
  margin-bottom: 8px;
}

.main-cameras {
  width: 100%;
  height: 604px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-bottom: 56px;
}

.zoos__side-cameras {
  margin-bottom: 98px;
}

.zoos__side-cameras-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.iframe-wrapper {
  position: relative;
}

.side-cameras {
  width: 380px;
  height: 240px;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  margin-right: 32px;
}

.iframe-live {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 24px;
  left: 28px;
  z-index: 2;
  width: 65px;
  height: 30px;
  background: rgba(46, 46, 46, 0.8);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fff;
}

.iframe-plug {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 380px;
  height: 240px;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  background-color: transparent;
}

.carousel-button {
  fill: none;
  stroke: #19707D;
}

.button-next,
.button-prev {
  width: 17px;
  height: 24px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button-next {
  padding: 15px 17px 15px 19px;
}

.button-prev {
  padding: 15px 19px 15px 17px;
}

.button-next:hover,
.button-prev:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.information__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.information__title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
  margin-bottom: 24px;
}

.info__elem {
  width: 604px;
  margin-bottom: 30px;
}

.info__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D444D;
  margin-bottom: 8px;
}

.info__text {
  width: 528px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #0D444D;
}

.info__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D444D;
}

.facts {
  padding-left: 36px;
}

.facts-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #0D444D;
  list-style-image: url(../../../assets/icons/list-style-type.svg);
  margin-left: 23px;
}

.fact {
  width: 574px;
  margin-bottom: 24px;
}

.donate {
  position: relative;
  width: 100%;
  height: 425px;
  background: no-repeat right 94px bottom 38px/130px 230px url(../../../assets/images/tree.svg), no-repeat right 738px bottom 147px/147px 280px url(../../../assets/images/bamboo.svg), no-repeat right 805px bottom 157px/163px 155px url(../../../assets/images/panda.svg), no-repeat left 380px top 19px/130px 230px url(../../../assets/images/tree.svg), no-repeat center bottom -90px/100% 493px url(../../../assets/images/zoos-bg.png);
}

.button {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  cursor: pointer;
}

.donate__inner {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.button_donate {
  letter-spacing: -0.05em;
  padding: 14px 78px;
  background-color: #C5E1E5;
  color: #0D444D;
  -webkit-filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
          filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button_donate:hover {
  background-color: #fff;
  color: #000;
  -webkit-filter: drop-shadow(0px 2px 20px #b9d5d9);
          filter: drop-shadow(0px 2px 20px #b9d5d9);
}

@media (max-width: 1579px) {
  .main__inner {
    padding-left: 135px;
  }
  .side-bar-wrapper {
    height: 1625px;
    -webkit-transform: translate(-570px);
        -ms-transform: translate(-570px);
            transform: translate(-570px);
  }
  .side-bar__animals-card {
    width: 80px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 39px;
  }
  .side-bar__animals-photo-bg {
    width: 80px;
    height: 77px;
  }
  .side-bar__animals-photo-shape {
    width: 65px;
    height: 63px;
    -webkit-mask-size: 65px 63px;
            mask-size: 65px 63px;
  }
  .side-bar__animals-title {
    font-family: "Roboto", sans-serif;
    text-transform: none;
    padding-top: 5px;
  }
  .zoos__inner {
    padding-top: 30px;
  }
  .zoos__title-wrapper {
    margin-right: 15px;
    margin-bottom: 2px;
  }
  .zoos__cameras-title {
    margin-bottom: 15px;
  }
  .main-cameras {
    margin-bottom: 26px;
  }
  .zoos__side-cameras {
    margin-bottom: 58px;
  }
  .zoos__cameras-title_side {
    margin-bottom: 8px;
  }
  .side-cameras {
    width: 295px;
    height: 193px;
    margin-right: 26px;
  }
  .iframe-plug {
    width: 295px;
    height: 193px;
  }
  .info__elem {
    width: 363px;
  }
  .info__text {
    width: 363px;
  }
  .facts {
    padding-left: 56px;
  }
  .fact {
    width: 549px;
  }
  .donate {
    padding-top: 95px;
    height: 346px;
    background: no-repeat right 99px bottom 116px/130px 230px url(../../../assets/images/tree.svg), no-repeat right 374px bottom 62px/147px 280px url(../../../assets/images/bamboo.svg), no-repeat right 447px bottom 74px/163px 155px url(../../../assets/images/panda.svg), no-repeat left 140px bottom 66px/130px 230px url(../../../assets/images/tree.svg), no-repeat center bottom/100% 346px url(../../../assets/images/zoos-bg-1200.png);
  }
  .donate__inner {
    bottom: 34px;
  }
}

@media (max-width: 1199px) {
  .main {
    margin-top: 78px;
  }
  .main__inner {
    padding-left: 69px;
  }
  .side-bar-wrapper {
    width: 89px;
    -webkit-transform: translate(-300px);
        -ms-transform: translate(-300px);
            transform: translate(-300px);
    height: 1520px;
  }
  .side-bar {
    top: 100px;
  }
  .side-bar__inner {
    width: 89px;
    margin-top: 20px;
    margin-right: 0;
  }
  .side-bar__animals-card {
    width: 49px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 30px;
  }
  .side-bar__animals-photo-bg {
    width: 49px;
    height: 49px;
  }
  .side-bar__animals-photo-shape {
    width: 41px;
    height: 40px;
    -webkit-mask-size: 41px 40px;
            mask-size: 41px 40px;
  }
  .side-bar__animals-photo_pandas::before {
    background: no-repeat center top 10px/70px auto url(../../../assets/images/pets-panda-min.jpg);
  }
  .side-bar__animals-photo_eagles::before {
    background: no-repeat right -17px center/111px auto url(../../../assets/images/pets-eagles-min.jpg);
  }
  .side-bar__animals-photo_gorillas::before {
    background: no-repeat right -5px top 10px/80px auto url(../../../assets/images/pets-gorillas-min.jpg);
  }
  .side-bar__animals-photo_alligators::before {
    background: no-repeat left 6px bottom 7px/86px auto url(../../../assets/images/pets-alligators-min.jpg);
  }
  .side-bar__animals-title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    padding-top: 0;
  }
  .zoos__inner {
    padding-top: 20px;
  }
  .zoos__title-wrapper {
    margin-bottom: 0;
    margin-right: 8px;
  }
  .zoos__title {
    font-size: 18px;
    line-height: 21px;
  }
  .zoos__button {
    margin-top: 3px;
  }
  .zoos__button {
    font-size: 20px;
    line-height: 24px;
    width: 31px;
    height: 31px;
    margin-left: 24px;
  }
  .zoos__button-favorite-icon {
    width: 20px;
    height: 20px;
    padding-top: 6px;
  }
  .zoos__cameras-title {
    font-size: 14px;
    line-height: 17px;
    margin-top: -10px;
    margin-bottom: 11px;
  }
  .main-cameras {
    width: 531px;
    height: 314px;
    margin-bottom: 20px;
  }
  .zoos__side-cameras-wrapper {
    margin-top: -5px;
  }
  .zoos__side-cameras {
    margin-bottom: 46px;
  }
  .iframe-wrapper {
    display: none;
  }
  .iframe-wrapper:nth-child(-n+2) {
    display: block;
  }
  .side-cameras {
    width: 235px;
    height: 154px;
    margin-right: 9px;
    margin-bottom: 0;
  }
  .iframe-live {
    top: 18px;
    left: 21px;
    width: 48px;
    height: 22px;
    font-size: 9px;
    line-height: 11px;
  }
  .iframe-plug {
    width: 235px;
    height: 154px;
  }
  .information__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .information__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .info__elem {
    width: 510px;
    margin-bottom: 24px;
  }
  .info__subtitle {
    margin-bottom: 4px;
  }
  .info__text {
    width: 510px;
  }
  .facts {
    padding-left: 0;
  }
  .fact {
    width: 510px;
  }
  .donate {
    padding-top: 0;
    height: 310px;
    background: no-repeat right -18px bottom 132px/89px 157px url(../../../assets/images/tree.svg), no-repeat left 305px bottom 84px/103px 196px url(../../../assets/images/bamboo.svg), no-repeat left 247px bottom 92px/114px 108px url(../../../assets/images/panda.svg), no-repeat left -40px top 47px/130px 230px url(../../../assets/images/tree.svg), no-repeat center bottom/100% 310px url(../../../assets/images/zoos-bg-640.png);
  }
  .donate__inner {
    bottom: 44px;
  }
  .button_donate {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 50px;
  }
}

@media (max-width: 639px) {
  .main {
    margin-top: 50px;
  }
  .main__inner {
    padding-left: 0;
  }
  .side-bar-wrapper {
    width: 100%;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .side-bar {
    position: fixed;
    top: 49px;
    width: 100%;
  }
  .side-bar__inner {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2A8086;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .side-bar__animals-card {
    padding: 10px 18px;
    margin: 0;
    width: 300px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  .side-bar__animals-photo-bg {
    display: none;
  }
  .side-bar__animals-card {
    display: none;
    border-bottom: 1px solid #6A9C9F;
  }
  .side-bar__animals-photo-shape {
    margin: 0;
    padding: 0;
    margin-right: 22px;
  }
  .side-bar__animals-title {
    padding-top: 5px;
    color: #F3F7F8;
  }
  .side-bar__animals-card_active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .side-bar__open {
    display: inline;
    background: no-repeat center url(../../../assets/icons/dropdown-arrow.svg);
    width: 22px;
    height: 22px;
    margin-left: auto;
    margin-right: -7px;
    padding: 10px 7px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .side-bar__opened .side-bar__animals-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .side-bar__opened .side-bar__open {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .zoos {
    margin-top: 61px;
  }
  .zoos__button {
    width: 24px;
    height: 24px;
    font-size: 17px;
    line-height: 20px;
    margin-left: 7px;
  }
  .zoos__button-favorite-icon {
    width: 15px;
    height: 15px;
  }
  .zoos__cameras-title {
    margin-top: 0;
  }
  .main-cameras {
    width: 300px;
    height: 178px;
  }
  .zoos__side-cameras {
    margin-bottom: 33px;
  }
  .side-cameras {
    width: 134px;
    height: 88px;
  }
  .iframe-live {
    width: 27px;
    height: 12px;
    font-size: 5px;
    line-height: 6px;
  }
  .iframe-plug {
    width: 134px;
    height: 88px;
  }
  .carousel-buttons {
    margin-right: -10px;
  }
  .button-next {
    width: 18px;
    height: 19px;
    padding: 0;
  }
  .button-prev {
    display: none;
  }
  .info__elem,
  .info__text {
    width: 300px;
  }
  .info__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .info__text,
  .fact {
    font-size: 12px;
    line-height: 20px;
  }
  .fact {
    width: 280px;
  }
  .donate {
    height: 280px;
    background: no-repeat right 56px top/103px 196px url(../../../assets/images/bamboo.svg), no-repeat center top 79px/114px 108px url(../../../assets/images/panda.svg);
    background-color: #2A8086;
  }
  .donate__inner {
    width: 300px;
    bottom: 55px;
  }
  .button_donate {
    padding: 10px 50px;
    margin: 0 20px;
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #196469;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 58px;
}

.copyright__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.copyright__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1579px) {
  .footer {
    height: 120px;
  }
  .footer__inner {
    padding-top: 17px;
  }
}

@media (max-width: 1199px) {
  .footer {
    height: 78px;
  }
  .footer__inner {
    padding-top: 22px;
  }
  .footer__inner .nav {
    display: none;
  }
  .copyright__text {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
  }
}
/*# sourceMappingURL=style.css.map */