// Header
// ==========================================

.header {
    background-color: $bg-color;
    width: 100%;
    height: 110px;
    filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 13px;
}

// Logo
//==============

.logo {
    width: 108px;
    font-family: $font-rubik;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: $black-color;

    margin-right: 52px;

    cursor: pointer;
}

.logo__text_upper {
    text-transform: uppercase;
}

.logo__elem {
    width: 73px;
    height: 25px;
    fill: $white-color;
}


// Nav
//==============

.navbar-left {
    display: flex;
    align-items: center;
}

.nav__main-navbar {
    display: flex;
}

.nav__item:last-child {
    display: none;
}

.nav__link {
    font-family: $font-roboto-mono;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $white-color;
    text-transform: uppercase;

    margin-right: 52px;
    transition: opacity 0.2s linear;

    cursor: pointer;
}

.nav__link:hover {
    opacity: 0.5;
}

.nav__link_active {
    border-bottom: 2px solid $white-color;
    pointer-events: none;
}

// Navbar-right
//==============

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right__item {
    margin-right: 24px;
}

.navbar-right__item:first-child {
    margin-right: 40px;
}

.navbar-right__item:last-child {
    margin-right: 0;
}

.user-icon {
    fill: #fff;
    width: 56px;
    height: 56px;
}

.navbar-right__item:nth-child(2) {
    display: none;
}

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search__input {
    // display: none;
    visibility: hidden;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white-color;

    margin-right: 5px;

    background-color: transparent;
    border-bottom: 2px solid $white-color;

    opacity: 0;
    transition: opacity 0.2s linear;
}

.search__input::placeholder {
    color: $white-color;
    opacity: 0.5;
}

.search__icon {
    transition: opacity 0.2s linear;

    cursor: pointer;
}

.search__icon:hover {
    opacity: 0.5;

    + .search__input {
        // display: block;
        visibility: visible;
        opacity: 1;
    }
}

.search__icon-elem {
    width: 32px;
    height: 32px;
    stroke: $white-color;
    fill: none;
}

.navbar-right__button {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white-color;
    text-transform: uppercase;

    transition: opacity 0.2s linear;

    cursor: pointer;
}

.navbar-right__button:hover {
    opacity: 0.5;
}

.navbar-right__button_sign-up {
    width: 97px;
    height: 52px;
    border: 1px solid $white-color;
    border-radius: 100px;
}

.burger-menu {
    display: none;
}


// Media
// ====================================================================================

// media 1200px
// ==========================================

@media (max-width: 1200px) {

    .nav__link {
        margin-right: 42px;
    }

    .navbar-right__item {
        display: none;
    }

    .navbar-right__item:nth-child(1) {
        display: block;
        margin-right: 30px;
    }

    .navbar-right__item:nth-child(2) {
        display: block;
        margin-right: 0;
    }

}

// media 640px
// ==========================================

@media (max-width: 640px) {

    .header {
        height: 78px;
        position: fixed;
        top: 0;
        z-index: 15;
    }

    .header__inner {
        padding-top: 20px;
    }

// Logo
//==============

    .logo {
        width: 49px;
        font-size: 16px;
        line-height: 19px;
    }

    .logo__elem {
        width: 32px;
        height: 11px;
    }

// Nav
//==============
    .nav {
        position: fixed;
        top: 78px;
        right: -100%;
        width: 100%;
        z-index: 13;
        text-align: center;
        background-color: $bg-color;

        border-top: 1px solid rgba(18, 87, 91, 0.25);
        padding-top: 34px;
        padding-bottom: 38px;

        transition: all 0.2s linear;
    }

    .nav._active {
        right: 0;
    }

    .nav__main-navbar {
        display: block;
    }

    .nav__item {
        margin-bottom: 32px;
    }

    .nav__item:last-child {
        display: block;
    }

    .nav__item:last-child {
        margin-bottom: 0;
    }

    .nav__link {
        margin-right: 0;
        color: $hero-text-color;
    }

    .nav__link_active {
        border: none;
    }

    .navbar-right {
        display: none;
    }

// Burger-menu
//==============
    .burger-menu {
        position: relative;
        z-index: 10;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    .burger-menu__icon,
    .burger-menu::before,
    .burger-menu::after {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 23px;
        height: 2px;
        border-radius: 25%;
        background-color: $white-color;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: "";
    }

    .burger-menu::before {
        top: 8px;
        transition: all 0.2s linear;
    }

    .burger-menu::after {
        bottom: 9px;
        transition: all 0.2s linear;
    }

    .burger-menu__icon {
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
    }

    .burger-menu._active {

        .burger-menu__icon {
            opacity: 0;
        }

        &::before {
            transform: rotate(-45deg) translate(-50%);
        }

        &::after {
            transform: rotate(45deg) translate(-50%);
        }
    }
    
}