// Main
// ==========================================

.main {
    position: relative;
}

.main__inner {
    display: flex;
    padding-left: 155px;
}


// Side bar
// ==========================================

.side-bar-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-740px);
    z-index: 10;
    width: 105px;
    height: 2150px;
}

.side-bar {
    position: sticky;
    top: 30px;
}

.side-bar__inner {
    width: 105px;
    margin-top: 40px;
    margin-right: 50px;
}

.side-bar__animals-card {
    cursor: pointer;
    position: relative;
    display: block;
    width: 105px;
    padding-bottom: 15px;
    padding-top: 16px;
    margin-bottom: 30px;

    transition: all 0.2s linear;
}

.side-bar__animals-photo-bg {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 105px;
    height: 96px;
    fill: $bg-color;
    filter: drop-shadow(0px 4px 10px $white-color);

    transition: all 0.2s linear;
}

.side-bar__animals-photo-shape {
    position: relative;
    width: 76px;
    height: 73px;
    mask-image: url(../../../assets/images/pets-shape.svg);
    mask-size: 76px 73px;
    transition: transform 0.4s linear;
    margin: 0 auto;
}

.side-bar__animals-photo {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

.side-bar__animals-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transition: transform 0.4s linear;
}

.side-bar__animals-photo_pandas::before {
    background: no-repeat center / 110px auto url(../../../assets/images/pets-panda-min.jpg);
}

.side-bar__animals-photo_eagles::before {
    background: no-repeat center / 175px auto url(../../../assets/images/pets-eagles-min.jpg);
}

.side-bar__animals-photo_gorillas::before {
    background: no-repeat center / 126px auto url(../../../assets/images/pets-gorillas-min.jpg);
}

.side-bar__animals-photo_alligators::before {
    background: no-repeat left 0 bottom 0 / 135px auto url(../../../assets/images/pets-alligators-min.jpg);
}

.side-bar__animals-card:hover {
    .side-bar__animals-photo-shape {
        transform: rotate(360deg);
    }
    
    .side-bar__animals-photo::before {
        transform: rotate(-360deg);
    }
}

.side-bar__animals-title {
    position: relative;
    top: 8px;
    z-index: 2;
    font-family: $font-roboto-mono;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2D2D;
}

.side-bar__animals-card_active {
    cursor: default;

    .side-bar__animals-photo-bg {
        visibility: visible;
        opacity: 1;
    }
}


// Zoos
// ==========================================

.zoos {
    width: 100%;
    // height: 2150px;
}

.zoos__inner {
    padding-top: 50px;
    width: 100%;
}

.zoos__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.zoos__title {
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $black-color;
}

// Buttons
//==============

.zoos__buttons {
    display: flex;
}

.zoos__button {
    display: block;
    text-align: center;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: $button-lined;

    width: 42px;
    height: 42px;
    border: 1.5px solid $button-lined;
    border-radius: 50%;

    margin-left: 34px;
    cursor: pointer;
}

.zoos__button_info, 
.zoos__button_favorite {
    position: relative;
    transition: all 0.2s linear;
}

.zoos__button-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zoos__button-favorite-icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: $button-lined;
    padding-top: 8px;
}

.zoos__button_info:hover, 
.zoos__button_favorite:hover {
    color: #fff;
    background-color: $button-lined;

    .zoos__button-favorite-icon {
        fill: #fff;
        stroke: #fff;
    }
}

// Main cameras
//==============

.zoos__cameras-title {
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: $black-color;

    margin-bottom: 8px;
}

.main-cameras {
    width: 100%;
    height: 604px;
    border-radius: 20px;
    margin-bottom: 56px;
}

// Side cameras
//==============

.zoos__side-cameras {
    margin-bottom: 98px;
}

.zoos__side-cameras-wrapper {
    display: flex;
    align-items: center;
}

.iframe-wrapper {
    position: relative;
}

.side-cameras {
    width: 380px;
    height: 240px;
    border-radius: 17px;
    margin-right: 32px;
}

.iframe-live {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    left: 28px;
    z-index: 2;
    width: 65px;
    height: 30px;
    background: rgba(46, 46, 46, 0.8);
    border-radius: 8px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
}

.iframe-plug {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 380px;
    height: 240px;
    border-radius: 17px;
    background-color: transparent;
}

.carousel-button {
    fill: none;
    stroke: $button-lined;
}

.button-next,
.button-prev {
    width: 17px;
    height: 24px;
    transition: all 0.2s linear;
}

.button-next{
    padding: 15px 17px 15px 19px;
}

.button-prev {
    padding: 15px 19px 15px 17px;
}

.button-next:hover,
.button-prev:hover {
    cursor: pointer;
    transform: scale(1.3);
}

// Information
//==============

.information__inner {
    display: flex;
}

.information__title {
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $black-color;

    margin-bottom: 24px;
}

.info__elem {
    width: 604px;
    margin-bottom: 30px;
}

.info__subtitle {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black-color;

    margin-bottom: 8px;
}

.info__text {
    width: 528px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $black-color;
}

.info__link {
    text-decoration-line: underline;
    color: $black-color;
}

.facts {
    padding-left: 36px;
}

.facts-list {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $black-color;
    list-style-image: url(../../../assets/icons/list-style-type.svg);
    margin-left: 23px;
}

.fact {
    width: 574px;
    margin-bottom: 24px;
}

// Donate
//==============

.donate {
    position: relative;
    width: 100%;
    height: 425px;
    background: no-repeat right 94px bottom 38px / 130px 230px url(../../../assets/images/tree.svg),
                no-repeat right 738px bottom 147px / 147px 280px url(../../../assets/images/bamboo.svg),
                no-repeat right 805px bottom 157px / 163px 155px url(../../../assets/images/panda.svg),
                no-repeat left 380px top 19px / 130px 230px url(../../../assets/images/tree.svg),
                no-repeat center bottom -90px / 100% 493px url(../../../assets/images/zoos-bg.png);
}

.button {
    font-family: $font-roboto-mono;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 100px;

    cursor: pointer;
}

.donate__inner {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.button_donate {
    letter-spacing: -0.05em;
    padding: 14px 78px;
    background-color: $white-color;
    color: $black-color;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
    transition: all 0.2s linear;
}

.button_donate:hover {
    background-color: #fff;
    color: #000;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 1));
}
