body {
    background-color: #f6f9fa;
}


// Reset
// ==========================================

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}


// Variables
// ==========================================
$font-roboto: 'Roboto', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$font-rubik: 'Rubik', sans-serif;

$bg-color: #2A8086; //bg
$white-color: #C5E1E5; //white
$black-color: #0D444D; //black
$hero-text-color: #F3F7F8; //hero-text
$button-black: #0D444D; //Bttn-black


// H1-hidden
// ==========================================
.h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 1px;
    color: $bg-color;
}


// Container
// ==========================================

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}


// Header
// ==========================================

.header {
    background-color: $bg-color;
    width: 100%;
    height: 110px;
    filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 13px;
}

// Logo
//==============

.logo {
    width: 108px;
    font-family: $font-rubik;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: $black-color;

    margin-right: 52px;

    cursor: pointer;
}

.logo__text_upper {
    text-transform: uppercase;
}

.logo__elem {
    width: 73px;
    height: 25px;
    fill: $white-color;
}


// Nav
//==============

.navbar-left {
    display: flex;
    align-items: center;
}

.nav__main-navbar {
    display: flex;
}

.nav__link {
    font-family: $font-roboto-mono;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $white-color;
    text-transform: uppercase;

    margin-right: 52px;
    transition: opacity 0.2s linear;

    cursor: pointer;
}

.nav__link:hover {
    opacity: 0.5;
}

.nav__link_active {
    border-bottom: 2px solid $white-color;
    pointer-events: none;
}

// Navbar-right
//==============

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right__item {
    margin-right: 24px;
}

.navbar-right__item:first-child {
    margin-right: 40px;
}

.navbar-right__item:last-child {
    margin-right: 0;
}

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search__input {
    // display: none;
    visibility: hidden;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white-color;

    margin-right: 5px;

    background-color: transparent;
    border-bottom: 2px solid $white-color;

    opacity: 0;
    transition: opacity 0.2s linear;
}

.search__input::placeholder {
    color: $white-color;
    opacity: 0.5;
}

.search__icon {
    transition: opacity 0.2s linear;

    cursor: pointer;
}

.search__icon:hover {
    opacity: 0.5;

    + .search__input {
        // display: block;
        visibility: visible;
        opacity: 1;
    }
}

.search__icon-elem {
    width: 32px;
    height: 32px;
    stroke: $white-color;
    fill: none;
}

.navbar-right__button {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white-color;
    text-transform: uppercase;

    transition: opacity 0.2s linear;

    cursor: pointer;
}

.navbar-right__button:hover {
    opacity: 0.5;
}

.navbar-right__button_sign-up {
    width: 97px;
    height: 52px;
    border: 1px solid $white-color;
    border-radius: 100px;
}


// Intro
// ==========================================

.intro {
    width: 100%;
    height: 795px;
    background: no-repeat center top / 100% 795px url(../../assets/images/intro-bg.png);
}

.intro__inner {
    display: flex;
    position: relative;
}

.intro__content {
    margin-top: 103px;
}

.intro__title {
    width: 750px;
    font-family: $font-rubik;
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    color: $hero-text-color;

    margin-bottom: 27px;
}

.intro__title_bold {
    font-weight: 500;
    font-size: 64px;
    line-height: 76px;
}

.intro__subtitle {
    width: 480px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $hero-text-color;

    margin-bottom: 87px;
}

.intro__img {
    width: 804px;
    height: 666px;
    background: no-repeat url(../../assets/images/intro-panda-layer.png),
                no-repeat -270px -11px url(../../assets/images/intro-panda.jpg);
    mask-image: url(../../assets/images/intro-panda-shape.png);

    position: absolute;
    top: 48px;
    right: 0;
    z-index: 1;

    transition: all 0.2s linear;
}

.intro__img-border {
    opacity: 0;
    position: absolute;
    top: 25px;
    right: 0;
    margin-right: -30px;
    width: 70px;
    height: 20px;
    background: transparent;
    border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;

    transition: all 0.5s linear;
}

.intro__img:hover {
    + .intro__img-border {
        width: 870px;
        height: 720px;
        opacity: 1;
        background: $hero-text-color;
        animation: bordering 10s linear infinite;
    }
}

@keyframes bordering {
    0% {
        border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
    }
    25% {
        border-radius: 70% 84% 50% 75% / 75% 50% 67% 55%;
    }
    50% {
        border-radius: 51% 49% 34% 66% / 64% 62% 38% 36%;
    }
    75% {
        border-radius: 63% 37% 53% 47% / 60% 75% 25% 50%;
    }
    100% {
        border-radius: 61% 39% 34% 66% / 60% 58% 42% 40%;
    }
}

// Buttons
//==============

.button {
    font-family: $font-roboto-mono;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 100px;

    cursor: pointer;
}

.button_intro {
    padding: 14px 84px;
    color: $button-black;
    letter-spacing: -0.05em;
    background-color: #fff;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
    transition: all 0.2s linear;
}

.button_intro:hover {
    color: #000;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 1);
}

.play-btn {
    position: absolute;
    top: 333px;
    left: 373px;
    z-index: 2;

    cursor: pointer;
    transition: all 0.2s linear;
}

.play-btn-bg {
    width: 100px;
    height: 75px;
    fill: #2E2E2E;
    fill-opacity: 0.8;
}

.play-btn-icon {
    position: absolute;
    top: 17px;
    left: 35px;
    z-index: 3;
    width: 33px;
    height: 38px;
    fill: #fff;
    stroke: #fff;
}

.play-btn:hover {
    .play-btn-bg {
        fill-opacity: 1;
    }
    transform: scale(1.2);
}


// How it works
// ==========================================

// TODO: background right/left in % ???

.how-it-works {
    margin-top: -67px;
    height: 926px;
    background: no-repeat right 175px bottom 131px / 130px 230px url(../../assets/images/tree.svg),
                no-repeat right 739px bottom 152px / 147px 280px url(../../assets/images/bamboo.svg),
                no-repeat right 807px bottom 164px / 163px 155px url(../../assets/images/panda.svg),
                no-repeat left 795px bottom 259px / 89px 158px url(../../assets/images/tree.svg),
                no-repeat left 220px bottom 247px / 130px 230px url(../../assets/images/tree.svg),
                no-repeat left bottom 241px / 116px 221px url(../../assets/images/bamboo.svg),
                no-repeat center bottom / 100% 523px url(../../assets/images/how-it-works-bg.png);
}

.how-it-works__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.how-it-works__title {
    display: block;
    width: 100%;
    font-family: $font-rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $black-color;

    margin-bottom: 98px;
}

.how-it-works__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.how-it-works__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 145px;
    height: 145px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);

    margin-bottom: 14px;
}

.how-it-works__binoculars {
    width: 50px;
    height: 50px;
}

.how-it-works__heart-paw {
    width: 64px;
    height: 64px;
}

.how-it-works__trust {
    width: 64px;
    height: 64px;
}

.how-it-works__subtitle {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $black-color;
}